<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION -  주문 입력</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/pages/kakao-address-order.js"></script>
    <script src="/js/pages/order.js"></script>
</head>
<body>
<header th:replace="~{/fragments/login-header :: header}"></header>
<main class="main__container">
    <h1 class="main__title">주문 상품 정보</h1>
    <div class="section__order">
        <table class="table__client table--2">
        <thead>
        <tr>
            <th class="cart__checkbox">번호</th>
            <th colspan="2" style="text-align: center">상품명</th>
            <th class="cart__price">상품 가격</th>
            <th class="cart__quantity" style="text-align: center">수량</th>
        </tr>
        </thead>
        <tbody>
        <!--반복 구간(tr -> th:each)-->
        <tr th:each="memberOrderDetailAddDTO, memberOrderDetailAddDTOStat: ${session.memberOrderDetailAddDTOList}">
            <td class="cart__checkbox" th:text="(${memberOrderDetailAddDTOStat.index} + 1)"></td>
            <td class="cart__imgbox">
                <img class="cart__img" th:src="@{/images/itemImages/__${memberOrderDetailAddDTO.itemNo}__/thumb/__${memberOrderDetailAddDTO.itemThumb}__}">
            </td>
            <td>
                <h4 th:text="${memberOrderDetailAddDTO.itemName}"></h4>
                <span th:text="${memberOrderDetailAddDTO.itemSize}"></span>
                <!--
                <input th:id="'itemNo_' + ${cartIndex.index}" th:value ="${cartDTO.itemNo}" style="display:none;">
                -->
            </td>
            <td class="cart__price" th:text="${memberOrderDetailAddDTO.itemPrice} + '원'"></td>
            <td class="cart__quantity order__quantity" th:text="${memberOrderDetailAddDTO.itemQuantity}"></td>
          </tr>
        </tbody>
        </table>

    </div>
    <h1 class="main__title">주문 정보 입력</h1>
    <form class="radio__container">
        <label>
            <input type="radio" class="radio" name="address" id="1" onclick="change_form('1')" checked>등록된 주소
        </label>
        <label>
            <input type="radio" class="radio" name="address" id="2" onclick="change_form('2')">다른 주소 입력
        </label>
    </form>
    <!--기존 주소-->
    <form id="display1" method="post" th:action="@{/members/{memberNo}/orders/create-success(memberNo=${session.loginMember.memberNo})}">
        <label class="label" for="memberHp">
            <h5 class="label__title">주문자 휴대폰 번호*</h5>
            <input id="memberHp" name="orderHp" class="input input--lg" type="text" th:value="${session.memberOrderDTO.orderHp}" />
            <div class="label__error-container">

            </div>
        </label>
        <label class="label" for="memberName">
            <h5 class="label__title">수령자명*</h5>
            <input id="memberName" name ="receiverName" class="input input--lg" type="text" th:value="${session.memberOrderDTO.receiverName}"/>
            <div class="label__error-container">

            </div>
        </label>
        <label class="label" for="memberPostalCode">
            <h5 class="label__title">우편번호*</h5>
            <input id="memberPostalCode" name="orderPostalCode" class="input input--lg" type="text" readonly th:value="${session.memberOrderDTO.orderPostalCode}"/>
            <div class="label__error-container">

            </div>
        </label>
        <label class="label" for="memberAddressBasic">
            <h5 class="label__title">기본 주소*</h5>
            <input id="memberAddressBasic" name="orderAddressBasic" class="input input--lg" type="text" readonly th:value="${session.memberOrderDTO.orderAddressBasic}"/>
            <div class="label__error-container">

            </div>
        </label>
        <label class="label" for="memberAddressDetail">
            <h5 class="label__title">상세 주소</h5>
            <input id="memberAddressDetail" name="orderAddressDetail" class="input input--lg" type="text" readonly th:value="(${session.memberOrderDTO.orderAddressDetail} == null or ${session.loginMember.memberAddressDetail.replace(' ', '').length()} == 0)? '':  ${session.loginMember.memberAddressDetail}"/>
            <div class="label__error-container">

            </div>
        </label>





        <button type="submit" class="btn btn--lg btn--black">주문하기</button>

    </form>

    <!--배송지 새로 입력-->
    <form id="display2" method="post" th:object="${memberOrderAddDTO}" th:action="@{/members/{memberNo}/orders/create-success(memberNo=${session.loginMember.memberNo})}">
        <label class="label" for="memberHp2">
            <h5 class="label__title">주문자 휴대폰 번호*</h5>
            <input id="memberHp2" name="orderHp" class="input input--lg" type="text" th:value="${session.memberOrderDTO.orderHp}" />
            <div class="label__error-container">
                <h6 class="label__error" th:errors="*{orderHp}">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberName2">
            <h5 class="label__title">수령자명*</h5>
            <input id="memberName2" name ="receiverName" class="input input--lg" type="text" th:value="${session.memberOrderDTO.receiverName}" />
            <div class="label__error-container">
                <h6 class="label__error" th:errors="*{receiverName}">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberPostalCode2">
            <h5 class="label__title">우편번호*</h5>
            <input id="memberPostalCode2" name=orderPostalCode class="input input--mi" type="text" th:field="*{orderPostalCode}" readonly onclick="execDaumPostalcode()"/>
            <button type="button" class="btn btn--mi btn--black btn--address"  onclick="execDaumPostalcode()">우편번호 찾기</button>
            <div class="label__error-container">
                <h6 class="label__error" th:errors="*{orderPostalCode}">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberAddressBasic2">
            <h5 class="label__title">기본 주소*</h5>
            <input id="memberAddressBasic2" name="orderAddressBasic" class="input input--lg" type="text" th:field="*{orderAddressBasic}" readonly onclick="execDaumPostalcode()"/>
            <div class="label__error-container">
                <h6 class="label__error" th:errors="*{orderAddressBasic}">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberAddressDetail2">
            <h5 class="label__title">상세 주소</h5>
            <input id="memberAddressDetail2" name="orderAddressDetail" class="input input--lg" th:field="*{orderAddressDetail}" type="text" />
            <div class="label__error-container">
                <h6 class="label__error" th:errors="*{orderAddressDetail}">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <button type="submit" class="btn btn--lg btn--black">주문하기</button>
    </form>
</main>
</body>
</html>