<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION - 회원 주문 상세 조회</title>
    <script src="/js/pages/order.js"></script>
</head>
<body>
<header th:replace="~{/fragments/login-header :: header}"></header>
<main class="main__container section">
        <h1 class="main__title">나의 주문 상세</h1>
        <table class="table__client table--2">
            <thead>
            <tr>
                <th class="cart__checkbox">번호</th>
                <th colspan="2" style="text-align: center">상품명</th>
                <th class="cart__price">상품 가격</th>
                <th class="cart__quantity" style="text-align: center">수량</th>
                <th class="cart__btn"></th>
            </tr>
            </thead>
            <tbody>
            <!--반복 구간(tr -> th:each)-->

                <tr th:each="memberorderDetail: ${memberOrderDTO.memberOrderDetailDTOList}">
                    <td class="cart__checkbox" th:text="${memberorderDetail.memberOrderDetailNo}"></td>
                    <td class="cart__imgbox">
                        <img class="cart__img" th:src="@{/images/itemImages/__${memberorderDetail.itemNo}__/thumb/__${memberorderDetail.itemThumb}__}">
                    </td>
                    <td>
                        <h4 th:text="${memberorderDetail.itemName}"></h4>
                        <span th:text="'사이즈: ' + ${memberorderDetail.itemSize}"></span>
                        <!--
                        <input th:id="'itemNo_' + ${cartIndex.index}" th:value ="${cartDTO.itemNo}" style="display:none;">
                        -->
                    </td>
                    <td class="cart__price" th:text="${memberorderDetail.itemPrice} + '원'"></td>
                    <td class="cart__quantity order__quantity" th:text="${memberorderDetail.itemQuantity}"></td>
                    <td class="cart__btn">
                        <form th:action="@{'/members/' + ${session.loginMember.memberNo} + '/' + ${memberorderDetail.itemNo} + '/add'}" method="get">
                            <input type="hidden" name="memberOrderDetailNo" th:value="${memberorderDetail.memberOrderDetailNo}">
                            <button class="btn btn--order btn--black"> 리뷰 작성 </button>
                        </form>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="items__page notice__link">
            <a href="#" onclick="history.back()">이전 페이지로</a>
            <a th:href="@{/members/{memberNo}/orders(memberNo=${session.loginMember.memberNo})}">주문 목록으로</a>
        </div>
    </main>
</body>
</html>