<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION - 회원 주문 조회</title>
    <script src="/js/pages/order.js"></script>
</head>
<body>
<header th:replace="~{/fragments/login-header :: header}"></header>
<main class="notice__container">
    <div class="main__container">
        <h1 class="main__title">나의 주문 목록</h1>
        <!-- table Ex-->
        <table class="table__client">
            <thead>
            <tr>
                <th class="table__no">주문번호</th>
                <th>상품 정보</th>
                <th class="table__regtime">주문금액</th>
                <th class="table__regtime">주문일자</th>
                <th class="table__answer">주문상태</th>
                <th class="table__order-status"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="memberOrder, memberOrderIndex: ${memberOrderDTOList}">
                <td class="table__no" th:text="${memberOrder.memberOrderNo}"></td>
                <td th:text="(${memberOrder.memberOrderDetailDTOList.size()} == 1)? ${memberOrder.memberOrderDetailDTOList[0].itemName}: (${memberOrder.memberOrderDetailDTOList.get(0).itemName} + '...외 ' + (${memberOrder.memberOrderDetailDTOList.size()} -1) + '종')"></td>
                <td class="table__regtime" th:text="${memberOrder.priceSum} + '원'"></td>
<!--                <td class="table__regtime">25000원</td>-->
                <td class="table__regtime" th:text="${memberOrder.orderTime}"></td>
                <td class="table__answer" th:text="(${memberOrder.orderStatus} == 1)? '주문 완료': '주문 취소'"></td>
                <td class="table__order-status">
                    <form th:action="@{/members/{memberNo}/orders(memberNo=${session.loginMember.memberNo})}" method="post">
                        <button class="btn btn--white btn--order">주문 취소</button>
                        <input type="hidden" th:value="${memberOrder.memberOrderNo}" name="orderNo">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="items__page">
        <span th:if="${pageSettings.page &lt;= 1}">이전</span>
        <span th:unless="${pageSettings.page &lt;= 1}">
        <a th:href="@{/members/{memberNo}/orders(memberNo=${session.loginMember.memberNo}, page=${pageSettings.page - 1})}">이전</a>
    </span>

        <span th:each="i: ${#numbers.sequence(pageSettings.startPage, pageSettings.endPage)}">
        <span th:if="${i == pageSettings.page}" th:text="${i}" th:class="now__page"></span>
        <a th:if="${i != pageSettings.page}"
           th:href="@{/members/{memberNo}/orders(memberNo=${session.loginMember.memberNo}, page=${i})}"
           th:text="${i}"></a>
    </span>

        <span th:if="${pageSettings.page >= pageSettings.totalPage}">다음</span>
        <a th:unless="${pageSettings.page >= pageSettings.totalPage}"
           th:href="@{/members/{memberNo}/orders(memberNo=${session.loginMember.memberNo}, page=${pageSettings.page + 1})}">다음</a>
    </div><!--main div-->
</main>
</body>
</html>