<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION - 고객 주문 취소 완료</title>
    <script type="text/javascript" src="/js/pages/order.js" defer></script>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<main class="main__container">
    <img class="main__logo" src="/images/spartan-helmet.svg">
    <h1 class="main__title after--logo">주문 취소가 무사히 완료되었습니다.</h1>
    <h2 class="order__greet">페리온 쇼핑몰을 이용해주셔서 감사합니다.</h2>
    <button class="btn btn--white btn--home">홈으로</button>
    <button class="btn btn--black btn--ordertoitems">더 둘러보기</button>
</main>
</body>
</html>