<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION - 회원가입</title>
    <meta name="description" content="20대 선호도 1위 쇼핑몰! 지금 가입하면 다양한 이벤트가 기다리고 있습니다.">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!--    <script src="/static/js/pages/kakao-address.js">-->
    <script>
        function execDaumPostalcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    theme: themeObj
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("memberExtraAddress").value = extraAddr;

                    } else {
                        document.getElementById("memberExtraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('memberPostalCode').value = data.zonecode;
                    document.getElementById("memberAddressBasic").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("memberAddressDetail").focus();
                }
            }).open();
        }
    </script>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<main class="main__container">
    <h1 class="main__title">회원 가입</h1>
    <form action="/members/add" method="post">
<!--        <input type="text" id="sample6_postcode" placeholder="우편번호">-->
<!--        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>-->
<!--        <input type="text" id="sample6_address" placeholder="주소"><br>-->
<!--        <input type="text" id="sample6_detailAddress" placeholder="상세주소">-->
<!--        <input type="text" id="sample6_extraAddress" placeholder="참고항목">-->

        <label class="label" for="memberId">
            <h5 class="label__title">아이디*</h5>
            <input id="memberId" name ="memberId" class="input input--lg" type="text"/>
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberPw">
            <h5 class="label__title">비밀번호*</h5>
            <input id="memberPw" name ="memberPw" class="input input--lg" type="password" />
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberPw2">
            <h5 class="label__title">비밀번호 확인*</h5>
            <input id="memberPw2" name ="memberPw2" class="input input--lg" type="password" />
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberName">
            <h5 class="label__title">성명*</h5>
            <input id="memberName" name ="memberName" class="input input--lg" type="text" />
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberHp">
            <h5 class="label__title">휴대폰 번호*</h5>
            <input id="memberHp" name="memberHp" class="input input--lg" type="text" />
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberEmail">
            <h5 class="label__title">이메일*</h5>
            <input id="memberEmail" name="memberEmail" class="input input--lg" type="text" />
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberPostalCode">
            <h5 class="label__title">우편번호*</h5>
            <input id="memberPostalCode" name=memberPostalCode class="input input--mi" type="text" />
            <button type="button" class="btn btn--mi btn--black" onclick="execDaumPostalcode()">우편번호 찾기</button>
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberAddressBasic">
            <h5 class="label__title">기본 주소*</h5>
            <input id="memberAddressBasic" name="memberAddressBasic" class="input input--lg" type="text" />
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberAddressDetail">
            <h5 class="label__title">상세 주소</h5>
            <input id="memberAddressDetail" name="memberAddressDetail" class="input input--lg" type="text" />
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberAddressDetail">
            <h5 class="label__title">상세 주소2</h5>
            <input id="memberExtraAddress" name="memberAddressDetail" class="input input--lg" type="text" />
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <button type="submit" class="btn btn--lg btn--white btn--member-add-post">회원가입 하기</button>
    </form>
</main>
</body>
</html>