<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION - 회원가입</title>
    <meta name="description" content="20대 선호도 1위 쇼핑몰! 지금 가입하면 다양한 이벤트가 기다리고 있습니다.">
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<main class="main__container">
    <h1 class="main__title">회원 가입</h1>
    <form action="/members/add" method="post">
        <label class="label" for="memberId">
            <h5 class="label__title">아이디*</h5>
            <input id="memberId" class="input input--lg" type="text"/>
            <h6 class="label__error">에러메시지를 출력합니다.</h6>
        </label>
        <label class="label" for="memberPw">
            <h5 class="label__title">비밀번호*</h5>
            <input id="memberPw" class="input input--lg" type="password" />
            <h6 class="label__error">에러메시지를 출력합니다.</h6>
        </label>
        <label class="label" for="memberPw2">
            <h5 class="label__title">비밀번호 확인*</h5>
            <input id="memberPw2" class="input input--lg" type="password" />
            <h6 class="label__error">에러메시지를 출력합니다.</h6>
        </label>
        <label class="label" for="memberName">
            <h5 class="label__title">성명*</h5>
            <input id="memberName" class="input input--lg" type="text" />
            <h6 class="label__error">에러메시지를 출력합니다.</h6>
        </label>
        <label class="label" for="memberHp">
            <h5 class="label__title">휴대폰 번호*</h5>
            <input id="memberHp" class="input input--lg" type="text" />
            <h6 class="label__error">에러메시지를 출력합니다.</h6>
        </label>
        <label class="label" for="memberEmail">
            <h5 class="label__title">이메일*</h5>
            <input id="memberEmail" class="input input--mi" type="text" />
            <button type="button" class="btn btn--mi btn--black">인증번호 전송</button>
            <h6 class="label__error">에러메시지를 출력합니다.</h6>
        </label>
        <label class="label" for="memberAddCode">
            <h5 class="label__title">인증번호*</h5>
            <input id="memberAddCode" class="input input--lg" type="text" />
            <h6 class="label__error">에러메시지를 출력합니다.</h6>
        </label>
        <label class="label" for="memberPostalCode">
            <h5 class="label__title">우편번호*</h5>
            <input id="memberPostalCode" class="input input--mi" type="text" />
            <button type="button" class="btn btn--mi btn--black">우편번호 찾기</button>
            <h6 class="label__error">에러메시지를 출력합니다.</h6>
        </label>
        <label class="label" for="memberAddressBasic">
            <h5 class="label__title">기본 주소*</h5>
            <input id="memberAddressBasic" class="input input--lg" type="text" />
            <h6 class="label__error">에러메시지를 출력합니다.</h6>
        </label>
        <label class="label" for="memberAddressDetail">
            <h5 class="label__title">상세 주소</h5>
            <input id="memberAddressDetail" class="input input--lg" type="text" />
            <h6 class="label__error">에러메시지를 출력합니다.</h6>
        </label>
        <button type="submit" class="btn btn--lg btn--white btn--member-add-post">회원가입 하기</button>
    </form>

</main>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>