<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION - 회원 정보 페이지</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/kakao-address.js"></script>
</head>
<body>
<header th:replace="~{/fragments/login-header :: header}">
</header>
<main class="main__container">
    <h1 class="main__title" th:text="|${session.loginMember.getMemberId()}님의 회원 정보|"></h1>
    <form th:action method="post" th:object="${memberUpdateDTO}">
        <label class="label" for="memberPw">
            <h5 class="label__title">아이디</h5>
            <input id="memberId" name ="memberId" th:field="*{memberId}" class="input" type="text" readonly/>
            <div class="label__error-container">
                <h6 class="label__error"></h6>
            </div>
        </label>
        <label class="label" for="memberEmail">
            <h5 class="label__title">이메일</h5>
            <input id="memberEmail" name ="memberEmail" th:field="*{memberEmail}" class="input" type="text" readonly/>
            <div class="label__error-container">
                <h6 class="label__error"></h6>
            </div>
        </label>
        <label class="label" for="memberPw">
            <h5 class="label__title">비밀번호*</h5>
            <input id="memberPw" name ="memberPw" class="input" type="password" />
            <div class="label__error-container">
                <h6 class="label__error" th:errors="*{memberPw}">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberPw2">
            <h5 class="label__title">비밀번호 확인*</h5>
            <input id="memberPw2" name ="memberPw2" class="input" type="password" />
            <div class="label__error-container">
                <h6 class="label__error" th:errors="*{memberPw2}">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberName">
            <h5 class="label__title">성명*</h5>
            <input id="memberName" th:field="*{memberName}" name ="memberName" class="input" type="text" />
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberHp">
            <h5 class="label__title">휴대폰 번호*</h5>
            <input id="memberHp" th:field="*{memberHp}" name="memberHp" class="input" type="text" />
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberPostalCode">
            <h5 class="label__title">우편번호*</h5>
            <input id="memberPostalCode" th:field="*{memberPostalCode}" name=memberPostalCode class="input input--sm" type="text" readonly onclick="execDaumPostalcode()"/>
            <button type="button" class="btn btn--mi btn--black" onclick="execDaumPostalcode()">우편번호 찾기</button>
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberAddressBasic">
            <h5 class="label__title">기본 주소*</h5>
            <input id="memberAddressBasic" th:field="*{memberAddressBasic}" name="memberAddressBasic" class="input" type="text" readonly onclick="execDaumPostalcode()"/>
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="memberAddressDetail">
            <h5 class="label__title">상세 주소</h5>
            <input id="memberAddressDetail" th:field="*{memberAddressDetail}" name="memberAddressDetail" class="input" type="text"/>
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <button type="submit" class="btn btn--white btn--member-add-post">정보수정 하기</button>
    </form>
    <a class="delete__link" th:href="@{|/members/${session.loginMember.getMemberNo()}/delete|}">회원 탈퇴는 이 곳은 클릭해주세요</a>
</main>
</body>
</html>

