.cart-order__price{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.order-info__container{
    align-items: center;
    gap:0.25rem;
}
.order__info{
    font-weight: 400;
}

.cart__delivery-price{
    font-size: 0.75rem;
}
.cart-order__btns{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:1rem;
}