.home__background-img{
    display: block;
    width: 100%;
    margin-top: 3.4375rem;
}
.new-items__container{
    display: grid;
    width: 100%;
    height: 55%;
    grid-template-columns: repeat(4,1fr);
    margin-top: 4rem;
    gap: 1rem;
    min-width: 60%;
    min-height: 55%;
}

.btn--index{
    display: inline;
    width: 9rem;
    font-size: 1rem;
    border-radius: 10px;
}
.banner__container{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    margin-top: 2rem;
}
.banner__info{
    display: flex;
    justify-content: right;
    color: var(--color-primary);
}

.banner__logo{
    width: 5rem;
}
.banner__text{
    font-size: 1.6rem;
}
.api__container{
    width: 100%;
    height: 50%;
    margin-top: 4rem;
    font-size: 5rem;
    background-color: var(--color-primary);
}
address{
    margin-top: 2rem;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    color: var(--color-accent);

}
.address__time{
    font-size: 0.75rem;
    color: var(--color-primary);
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.slide__wrap{
    overflow: hidden;
    width: 100%;
    height: 60%;
    margin-top: 4rem;
}

.slide__container{
    width: 300%;
    height: 100%;
    transition: all 1s;
}
.slide__box{
    float: left;
    display: flex;
    gap: 1rem;
    width:33.3%;
    height: 100%;
}
.slide__info{
    position: relative;
    width: 60%;
}
.slide__btns{
    position: absolute;
    bottom: 0;
    right:0;
}

.btn--slide{
    background-color: transparent;
    outline: 0;
    border: 0;
}
.btn--slide-img{
   width: 3rem;
}


@media screen and (max-width: 1440px) {
    .new-items__container{
        width: 100%;
        height: 55%;
    }
}


@media screen and (max-width: 1024px) {
    .new-items__container{
        padding: 0 8rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .address__time{
        display: block;
        margin-bottom: 3rem;
    }
}


@media screen and (max-width: 768px) {
    .new-items__container{
        padding: 0 4rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .banner__logo{
        width: 3rem;
    }
    .banner__text{
        font-size: 1.25rem;
    }
    .btn--index{
        width: 5rem;
        height: 3rem;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 600px) {
    .new-items__container{
        padding: 0 4rem;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
    }
}

/* Best Item 반응형 웹 적용 */

@media screen and (max-width: 1440px) {
    .slide__wrap {
        width: 100%;
        height: 55%;
    }

    .slide__box {
        width: 33.1%;
    }

    .rating-wrap {
        width: 0.5rem;
    }
    .slide__box img:nth-child(2) {
        width: 33%;
    }

    .slide__box button {
    }

}


@media screen and (max-width: 1024px) {

    .slide__box {
        padding-bottom: 6rem;
    }


}


@media screen and (max-width: 664px) {
    .slide__wrap{
        font-size: 0.75rem;
    }

    svg {
        display: none;
    }

    .overlay1 , .overlay2 ,.overlay3 {
        display: none;
    }

    .slide__box.btn.btn--index {

    }

}

@media screen and (max-width: 532px) {
    .slide__wrap{
        font-size: 0.6rem;
    }

    h2.item__card-name.item__card-name--rank {
        margin: 16px 0;
    }

}

@media screen and (max-width: 436px) {
    .slide__box button.btn--index {
        width: 3rem;
        height: 1.75rem;
        font-size: 0.4rem;
    }

}
