.item__container{
    display:flex;
    width: 100%;
    justify-content: space-between;
    height: 45rem;
    padding: 6rem 15rem 0 15rem;
    gap:2rem;
}
.item-detail__container{
    width: 100%;
    padding: 0 15rem 2rem 15rem;
}
.item__img{
    width: 45%;
}
.item-imgs__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.75rem;
    width: 100%;
}
.item__info{
    width: 50%;
}
.item__price{
    margin-bottom: 3rem;
}
.input--item{
    margin: 0;
    width: 4rem;
    height: 2.5rem;
    border-width: 1px 0 1px 0;
    border-radius: 0;
    padding: 1rem 0;
}
.item__countbtns{
    display: flex;
    align-items: end;
}
.item__info-title{
    margin-top: 1rem;
}
.btn--item{
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 0;
    text-align: center;
}
.item__delivery--price{
    font-size: 0.8rem;
    color: var(--color-primary-variant);
}
.item__nav-container{
    width: 100%;
    padding: 2rem 15rem 1rem 15rem;
}
.item__navs{
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-text);
}
.item__navs li{
    cursor: pointer;
}
.item__detail{
    margin-bottom: 10rem;
}
.item__text{
    margin-top: 3rem;
}
.item__btns{
    display: flex;
    gap:1rem;
}
.review__header{
    display: inline-block;
    margin: 1rem 3rem 0 0;
    font-weight: 600;
}
.review{
    border-bottom: 1px solid var(--color-text);
}
.review__page{
    margin-top:3rem;
}
.qna__more{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.qna__form{
    width: 100%;
    text-align: right;
}
.btn--qna{
    font-size: 1rem;
}
.item__aside{
    position: fixed;
    right:0;
    top:50%;
}
.btn--aside{
    display: block;
}