<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  리뷰 목록 가져오는 리스트입니당~
    <div th:each="ReviewDTO,itemReviewNo : ${itemReviewList}">
        <span th:text="${itemReviewNo.count}"></span>
        <span th:text="${ReviewDTO.memberId}"></span>
        <span th:text="${ReviewDTO.itemSize}"></span>
        <span th:text="${ReviewDTO.reviewCreatedTime}"></span>
        <span th:text="${ReviewDTO.reviewScore}"></span>
        <span th:text="${ReviewDTO.reviewContext}"></span>

        <form th:action="'/members/'+${ReviewDTO.memberNo}+'/reviews/'+${ReviewDTO.reviewNo}" method="post">
            <input type="hidden" name="reviewNo" th:value="${ReviewDTO.reviewNo}" />
            <button th:if="${session.loginMember != null}">삭제</button>
        </form>
    </div>
</body>
</html>