<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION - Review</title>
    <link rel="stylesheet" href="/css/pages/user/review-member.css">

</head>
<body>
<header th:if="${session.loginMember != null}" th:replace="~{/fragments/login-header :: header}">
</header>
<header th:unless="${session.loginMember != null}" th:replace="~{/fragments/header :: header}">
</header>
        <h1 class="main__title">
            <a th:text="${itemName} + ' 리뷰 목록'"
               th:href="@{/items/{itemNo}(itemNo=${itemNo})}"></a>
        </h1>

        <div class="review__myPage" th:each="ReviewDTO : ${itemReviewList}">

            <div class="review_container">

                <div class="review_info">
                    <span th:text="${#strings.substring(ReviewDTO.memberId, 0, 3)} + '***'"></span>
                    <span th:text="'사이즈: '+${ReviewDTO.itemSize}"></span>
                    <span th:text= "'★'+${ReviewDTO.reviewScore}"></span>
                </div>


            </div>

            <div class="review_content" th:text="${ReviewDTO.reviewContext}"></div>

        </div>

        <div class="line"></div>

    <div class="review__page">

        <span th:if="${pageSettings.page &lt;= 1}">이전</span>
        <span th:unless="${pageSettings.page &lt;= 1}">
            <a th:href="@{/members/{memberNo}/reviews(memberNo=${memberNo},page=${pageSettings.page - 1})}">이전</a>
          </span>

        <span th:each="i : ${#numbers.sequence(pageSettings.startPage, pageSettings.endPage)}">
            <span th:if="${i == pageSettings.page}" th:text="${i}" th:class="now__page"></span>
            <a th:unless="${i == pageSettings.page}"
               th:href="@{/members/{memberNo}/reviews(memberNo=${memberNo},page=${i})}"
               th:text="${i}"></a>
          </span>

        <span th:if="${pageSettings.page >= pageSettings.totalPage}">다음</span>
        <a th:unless="${pageSettings.page >= pageSettings.totalPage}"
           th:href="@{/members/{memberNo}/reviews(memberNo=${memberNo},page=${pageSettings.page + 1})}"
        >다음</a>

    </div>

</body>
</html>