<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION - 나의 리뷰 목록</title>
    <script src="/js/pages/order.js"></script>
</head>
<body>
<header th:replace="~{/fragments/login-header :: header}"></header>
<main class="notice__container">
    <div class="main__container">
        <h1 class="main__title">나의 리뷰 목록</h1>
        <!-- table Ex-->
        <table class="table__client">
            <thead>
            <tr>
                <th class="table__no">리뷰번호</th>
                <th class="table__category">상품명</th>
                <th class="table__no">사이즈</th>
                <th>내용</th>
                <th class="table__answer">별점</th>
                <th class="table__regtime">등록일자</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table__no">1</td>
                <th class="table__category">pant01</th>
                <th class="table__category">s</th>
                <td>옷이 이상해서 꼬툭튀가 되요</td>
                <td class="table__answer">★1</td>
                <td class="table__regtime">2024-01-02</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="items__page">
        <span class="now__page">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>10</span>
    </div><!--main div-->
</main>
</body>
</html>