<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>Title</title>

<script type = "text/javascript">

    function changeCartAddQuantity(number, inputname){
        let nowQuantityInput = document.getElementById(inputname);
        let nowQuantityValue = Number(nowQuantityInput.value);
        if(Number(number) == 1){
            if(nowQuantityValue != 99){
                nowQuantityValue += Number(number);
                nowQuantityInput.value = nowQuantityValue;
            }
        } else if(Number(number) == -1){
            if(nowQuantityValue != 1){
                nowQuantityValue += Number(number);
                nowQuantityInput.value = nowQuantityValue;
            }
        }
    }

    // function sendJsonToSessionStorage(){
    //
    //     var itemThumbNail = document.getElementById('nonMemberCartThumbnailInput');
    //     var itemName = document.getElementById('nonMemberCartItemNameInput');
    //     var itemPrice = document.getElementById('nonMemberCartItemPriceInput');
    //     var itemSize = document.getElementById('nonMemberCartItemSizeInput');
    //     var itemQuantity = document.getElementById('nonMemberCartAddQuantityInput');
    //
    //     var jsonData = {
    //         "datas":{
    //             "itemThumbNail": itemThumbNail,
    //             "itemName": itemName,
    //             "itemPrice": itemPrice,
    //             "itemSize": itemSize,
    //             "itemQuantity": itemQuantity
    //         }
    //     };
    //
    //     fetch('/carts', {
    //             method: 'POST',
    //             headers: {
    //                 'Content-Type': 'application/json'
    //             },
    //             body: JSON.stringify(jsonData)
    //     }).then(response => {
    //         alert('jsonData 전송 성공');
    //     }).catch(error => {
    //         alert('jsonData 전송 실패. 사유 - ' + error);
    //     })
    // }

</script>

</head>
<body>
<header th:replace="~{/fragments/login-header :: header}"></header>
<br><br><br><br><br><br><br>
<div th:if="${session.loginMember != null}">
    <h1>여기는 로그인 상태의 itemInfo_Temp_CMS.html입니다.</h1>
</div>
<div th:unless="${session.loginMember != null}">
    <h1>여기는 비로그인 상태의 itemInfo_Temp_CMS.html입니다.</h1>
</div>

<div th:if="${session.loginMember != null}">
    <form th:action = "${session.loginMember != null} ? @{/carts/{memberNo}(memberNo=${session.loginMember.getMemberNo()})} : @{/carts}" method = "post">
    <div><input style = "display: none;" name = "itemNo" value = "1"></div>
    <div >상품 썸네일 : asdasfasd</div>
    <div >상품명 : 빨간셔츠</div>
    <div >평점 : 3.5</div>
    <div >상품 가격 : 100000원</div>
    <div >
        상품 사이즈 :
        <select name = "cartAddItemSize">
            <option value = "S">S</option>
            <option value = "M">M</option>
            <option value = "L">L</option>
        </select>
    </div>
    <div >
        상품 수량 <button type = "button" onclick="changeCartAddQuantity(-1, 'memberCartAddQuantityInput')"> - </button>
        <input id = "memberCartAddQuantityInput" name = "addCartItemQuantiy" value = "1" readonly>
        <button type="button" onclick = "changeCartAddQuantity(1, 'memberCartAddQuantityInput')"> + </button>
    </div>
    <div>
        <button>장바구니 추가</button>
    </div>

    </form>
</div>

<div th:unless="${session.loginMember != null}">

    <form action = "/carts" method = "post">
        <input name = "nonMemberCartThumbnail" style="display: none;" value = "testthumb1">
        <input name = "nonMemberCartItemName" style="display: none;" value = "red Shirt">
        <input name = "nonMemberCartItemPrice" style="display: none;" value = "22000">

        <div >상품 썸네일 : asdasfasd</div>
        <div >상품명 : 빨간셔츠</div>
        <div >평점 : 3.5</div>
        <div >상품 가격 : 100000원</div>
        <div >
            상품 사이즈 :
            <select name = "nonMemberCartItemSize">
                <option value = "S">S</option>
                <option value = "M">M</option>
                <option value = "L">L</option>
            </select>
        </div>
        <div>
            상품 수량 <button type = "button" onclick="changeCartAddQuantity(-1, 'nonMemberCartAddQuantityInput')"> - </button>
            <input id = "nonMemberCartAddQuantityInput" name = "nonMemberAddCartItemQuantiy" value = "1" readonly>
            <button type="button" onclick = "changeCartAddQuantity(1, 'nonMemberCartAddQuantityInput')"> + </button>
        </div>
        <div>
            <button>장바구니 추가</button>
        </div>
    </form>

</div>

</body>
</html>