<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>회원 장바구니 조회</title>
</head>
<body>
   <header th:replace="~{/fragments/login-header :: header}"></header>

    <main>
        <h1> member-cart-list.html입니다.</h1>

        <div th:each="cartDTO : ${cartDTOList}">
            <div th:text="'썸네일 : ' + ${cartDTO.itemThumbnail}"></div>
            <div th:text="'상품명 : ' + ${cartDTO.itemName}"></div>
            <div th:text="'상품 사이즈 : ' + ${cartDTO.itemSize}"></div>
            <div th:text="'상품 가격 : ' + ${cartDTO.itemPrice}"></div>
            <div th:text="'상품 총액 : ' + ${cartDTO.itemPriceSum}"></div>
            <div th:text="'주문 총액 : ' + ${cartDTO.orderPriceSum}"></div>
            상품 수량 <input th:value ="${cartDTO.itemQuantity}"></input>
            <button onclick="updateQuantity(-1)"> - </button>
            <button onclick="updateQuantity(1)"> + </button>
            <hr>
        </div>
    </main>

    <footer>

    </footer>

</body>
</html>