<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <script defer src="/js/nonmember-updatecart.js"></script>
    <!--<script defer src="/js/nonmember-getjsondata.js"></script>-->
    <title>비회원 장바구니 조회</title>
</head>
<body>
<header th:replace="~{/fragments/login-header :: header}"></header>

<main>
    <h1>여기는 nonmember-cart-list입니다.</h1><hr>
        <div th:if="${session.nonmemberCartList != null}">
            <div th:each = "nonMemberCartDTO : ${session.nonmemberCartList}">
                <div th:text ="'장바구니 번호 : ' + ${nonMemberCartDTO.cartNo+1}"> </div>
                <div th:text ="'썸네일 : ' + ${nonMemberCartDTO.itemThumbnail}"></div>
                <div th:text ="'상품명 : ' + ${nonMemberCartDTO.itemName}"></div>
                <div th:text ="'상품 사이즈 : ' + ${nonMemberCartDTO.itemSize}"></div>
                <div th:text ="'상품 가격 : ' + ${nonMemberCartDTO.itemPrice}"></div>
                상품 수량
                <button th:id="'decreaseBtn_' + ${nonMemberCartDTO.cartNo}"
                        th:cartNo = "${nonMemberCartDTO.cartNo}"
                        th:onclick = "updateQuantity(-1, this.getAttribute('cartNo'))"> - </button>
                <input th:id = "'inputvalue_' + ${nonMemberCartDTO.cartNo}" th:value = "${nonMemberCartDTO.itemQuantity}" readonly>
                <button th:id="'increaseBtn_' + ${nonMemberCartDTO.cartNo}"
                        th:cartNo = "${nonMemberCartDTO.cartNo}"
                        th:onclick= "updateQuantity(1, this.getAttribute('cartNo'))"> + </button>
                <div></div>
                <hr>
            </div>
        </div>
</main>

<footer>

</footer>

</body>
</html>