<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PERION Member</title>

    <link rel="icon" href="../../static/images/spartan-helmet.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/pages/admin/admin_notice.css"
    />
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div class="inner">
        <a href="/" class="logo">
          <img
            src="../../static/images/perionM.png"
            alt="perion management"
            style="height: 72px"
          />
        </a>

        <ul class="main-menu">
          <li class="item">
            <div class="item__name">관리</div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <h4>회원</h4>
                    <ul>
                      <li>회원 목록 조회</li>
                    </ul>
                  </li>

                  <li>
                    <h4>매출</h4>
                    <ul>
                      <li>매출 조회</li>
                    </ul>
                  </li>

                  <li>
                    <h4>상품</h4>
                    <ul>
                      <li>상품 조회</li>
                      <li>상품 등록</li>
                      <li>상품 수정/삭제</li>
                    </ul>
                  </li>

                  <li>
                    <h4>게시판</h4>
                    <ul>
                      <li>공지사항</li>
                      <li>Q&A</li>
                      <li>Review</li>
                    </ul>
                  </li>

                  <li>
                    <h4>주문</h4>
                    <ul>
                      <li>회원 주문 목록</li>
                      <li>비회원 주문 목록</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="nav">쇼핑몰</div>
          </li>
          <li>
            <div class="nav">로그아웃</div>
          </li>
        </ul>
      </div>
    </header>

    <!--main-->
    <main>
      <div class="main">
        <div class="admin_notice">공지사항</div>

        <div class="admin_notice_search">
          <select name="category">
            <option value="member_id">아이디</option>

            <option value="member_hp">전화번호</option>

            <option value="member_email">이메일</option>

            <option value="member_name">이름</option>

            <option value="member_address_basic">주소</option>
          </select>
          <input type="text" />
          <button>검색</button>
        </div>

        <!-- table Ex-->
        <table>
          <thead>
            <tr>
              <th>No</th>
              <th>제목</th>
              <th>작성자</th>
              <th>작성일자</th>
              <th>조회수</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>3</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>4</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>5</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>6</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>7</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>8</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>9</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>10</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>11</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>12</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
          </tbody>
        </table>

        <div class="admin_member_page"><a href="1">1</a> <a href="2">2</a></div>
        <!--main div-->
      </div>
    </main>
  </body>
</html>
