<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:admin-head>
    <div
      th:remove="tag"
      th:replace="~{/fragments/admin-head :: admin-head} "
    ></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-review.css" />
    <link rel="stylesheet" href="/css/pages/user/items.css">
  </head>
  <body>
    <header
      th:replace="~{/fragments/admin-login-header :: admin-login-header}"
    ></header>

    <aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}"></aside>

    <main>
      <div class="main">
        <div class="admin_review">Review</div>

        <div class="admin_review_search">
          <form action="/reviews/search" method="get">
          <select name="category">
            <option value="item_no" th:selected="${reviewSearchForm.category == 'item_no'}">상품 번호</option>

            <option value="review_score" th:selected="${reviewSearchForm.category == 'review_score'}">평점 ★</option>
          </select>
          <input type="text" name="keyword" />
          <button>검색</button>
          </form>
        </div>

        <hr />
        <div class="review" th:each="ReviewDTO : ${reviewListByPaging}">
          <div class="review_container">
            <div class="review_info">
              <span th:text="${ReviewDTO.memberId}"></span>
              <span th:text="${ReviewDTO.ItemName}+'(no.'+${ReviewDTO.itemNo}+')'"></span>
              <span th:text="'사이즈: '+${ReviewDTO.itemSize}"></span>
              <span th:text= "'★'+${ReviewDTO.reviewScore}"></span>
            </div>
            <div class="review_drop">
              <form action="/reviews/delete" method="post">
                <input type="hidden" name="reviewNo" th:value="${ReviewDTO.reviewNo}" />
                <button class="btn--drop">삭제</button>
              </form>
            </div>
          </div>
          <div class="review_content" th:text="${ReviewDTO.reviewContext}">

          </div>
          <hr />
        </div>


        <div class="margin"></div>
        <div class ="items__page">
          <span th:if="${pageSettings.page &lt;= 1}">이전</span>
          <span th:unless="${pageSettings.page &lt;= 1}">
                <a th:href="@{/reviews/search(page=${pageSettings.page - 1},category=${reviewSearchForm.category}, keyword=${reviewSearchForm.keyword})}">이전</a>
              </span>

          <span th:each="i : ${#numbers.sequence(pageSettings.startPage, pageSettings.endPage)}">
                <span th:if="${i == pageSettings.page}" th:text="${i}" th:class="now__page"></span>
                <a th:unless="${i == pageSettings.page}"
                   th:href="@{/reviews/search(page=${i},category=${reviewSearchForm.category}, keyword=${reviewSearchForm.keyword})}"
                   th:text="${i}"></a>
              </span>

          <span th:if="${pageSettings.page >= pageSettings.totalPage}">다음</span>
          <a th:unless="${pageSettings.page >= pageSettings.totalPage}"
             th:href="@{/reviews/search(page=${pageSettings.page + 1},category=${reviewSearchForm.category}, keyword=${reviewSearchForm.keyword})}"
          >다음</a
          >
        </div>
      </div>
      <!--main div-->
    </main>
  </body>
</html>
