<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:admin-head>
    <div
      th:remove="tag"
      th:replace="~{/fragments/admin-head :: admin-head} "
    ></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-review.css" />
  </head>
  <body>
    <header
      th:replace="~{/fragments/admin-login-header :: admin-login-header}"
    ></header>

    <aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}"></aside>

    <main>
      <div class="main">
        <div class="admin_review">Review</div>

        <div class="admin_review_search">
          <select name="#y">
            <option value="#">상품 번호</option>

            <option value="#">아이디</option>
          </select>
          <input type="text" />
          <button>검색</button>
        </div>

        <hr />
        <div class="review">
          <div class="review_container">
            <div class="review_info">
              <span>perion1014</span>
              <span>사이즈: M</span>
              <span>★4</span>
            </div>
            <div class="review_drop">
              <a href="#">삭제</a>
            </div>
          </div>
          <div class="review_content">일단 리뷰 내용</div>
          <hr />
        </div>

        <div class="review">
          <div class="review_container">
            <div class="review_info">
              <span>perion1014</span>
              <span>사이즈: M</span>
              <span>★4</span>
            </div>
            <div class="review_drop">
              <a href="#">삭제</a>
            </div>
          </div>
          <div class="review_content">
            핏이 정말 좋습니다. 핏이 정말 좋습니다 핏이 정말 좋습니다 핏이 정말
            좋습니다. 핏이 정말 좋습니다핏이 정말 좋습니다핏이 정말 좋습니다핏이
            정말 좋습니다핏이 정말 좋습니다핏이 핏이 정말 핏이 정말 좋습니다핏이
            정말 좋습니다핏이 정말 좋습니다핏이 정말 좋습니다핏이 정말
            좋습니다핏이 정말 좋습니다핏이 정말 좋습니다핏이 정말 좋습니다핏이
            정말 좋습니다핏이 정말 좋습니다
          </div>
          <hr />
        </div>

        <div class="review">
          <div class="review_container">
            <div class="review_info">
              <span>perion1014</span>
              <span>사이즈: M</span>
              <span>★4</span>
            </div>
            <div class="review_drop">
              <a href="#">삭제</a>
            </div>
          </div>
          <div class="review_content">일단 리뷰 내용</div>
          <hr />
        </div>

        <div class="review">
          <div class="review_container">
            <div class="review_info">
              <span>perion1014</span>
              <span>사이즈: M</span>
              <span>★4</span>
            </div>
            <div class="review_drop">
              <a href="#">삭제</a>
            </div>
          </div>
          <div class="review_content">
            핏이 정말 좋습니다. 핏이 정말 좋습니다 핏이 정말 좋습니다 핏이 정말
            좋습니다. 핏이 정말 좋습니다핏이 정말 좋습니다핏이 정말 좋습니다핏이
            정말 좋습니다핏이 정말 좋습니다핏이 핏이 정말 핏이 정말 좋습니다핏이
            정말 좋습니다핏이 정말 좋습니다핏이 정말 좋습니다핏이 정말
            좋습니다핏이 정말 좋습니다핏이 정말 좋습니다핏이 정말 좋습니다핏이
            정말 좋습니다핏이 정말 좋습니다
          </div>
          <hr />
        </div>

        <div class="review">
          <div class="review_container">
            <div class="review_info">
              <span>perion1014</span>
              <span>사이즈: M</span>
              <span>★4</span>
            </div>
            <div class="review_drop">
              <a href="#">삭제</a>
            </div>
          </div>
          <div class="review_content">
            핏이 정말 좋습니다. 핏이 정말 좋습니다 핏이 정말 좋습니다 핏이 정말
            좋습니다. 핏이 정말 좋습니다핏이 정말 좋습니다핏이 정말 좋습니다핏이
            정말 좋습니다핏이 정말 좋습니다핏이 핏이 정말 핏이 정말 좋습니다핏이
            정말 좋습니다핏이 정말 좋습니다핏이 정말 좋습니다핏이 정말
            좋습니다핏이 정말 좋습니다핏이 정말 좋습니다핏이 정말 좋습니다핏이
            정말 좋습니다핏이 정말 좋습니다
          </div>
          <hr />
        </div>

        <div class="admin_review_page"><a href="1">1</a> <a href="2">2</a></div>
      </div>
      <!--main div-->
    </main>
  </body>
</html>
