<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:admin-head>
    <div
            th:remove="tag"
            th:replace="~{/fragments/admin-head :: admin-head} "
    ></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-order.css" />
</head>
<body>
<header
        th:replace="~{/fragments/admin-login-header :: admin-login-header}"
></header>

<aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}"></aside>

<main>
    <div class="main">
        <div class="admin_order">회원 주문 목록</div>

        <div class="admin_order_search">
            <form action="/orders/admin/members" method="get">
                <select name="searchCategory">
                    <option value="member_order_no" th:selected="${session.adminSearchCategory == null or session.adminSearchCategory == 'member_order_no'}">주문번호</option>
                    <option value="member_no" th:selected="${session.adminSearchCategory == 'member_no'}">회원번호</option>
                    <option value="receiver_name" th:selected="${session.adminSearchCategory == 'receiver_name'}">이름</option>
                    <option value="order_hp" th:selected="${session.adminSearchCategory == 'order_hp'}">전화번호</option>
                    <option value="order_postal_code" th:selected="${session.adminSearchCategory == 'order_postal_code'}">우편번호</option>
                    <option value="order_address" th:selected="${session.adminSearchCategory == 'order_address'}">주소</option>
                </select>
                <input type="text" name="searchKeyword"/>
                <button>검색</button>
            </form>
        </div>
        <!-- table Ex-->
        <table class="order_table">
            <thead>
            <tr>
                <th>회원 주문번호</th>
                <th>회원 번호</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>우편번호</th>
                <th>주소</th>
                <th>주문 상태</th>
                <th>주문 취소</th>
            </tr>
            </thead>
            <tbody th:each="memberOrder: ${memberOrderDTOList}">
            <tr th:onclick="|location.href='@{|/orders/admin/members/${memberOrder.memberOrderNo}|}'|" style="cursor: pointer;">
                <td th:text="${memberOrder.memberOrderNo}"></td>
                <td th:text="${memberOrder.memberNo}"></td>
                <td th:text="${memberOrder.receiverName}"></td>
                <td th:text="${memberOrder.orderHp}"></td>
                <td th:text="${memberOrder.orderPostalCode}"></td>
                <td th:text="${memberOrder.orderAddressBasic} + ' ' + ${memberOrder.orderAddressDetail}"></td>
                <td th:text="(${memberOrder.orderStatus} == 1)? '주문 완료': '주문 취소'"></td>
                <td>
                    <a th:if="${memberOrder.orderStatus} == 1" th:href="@{|/orders/admin/members/${memberOrder.memberOrderNo}/cancel|}">취소하기</a>
                    <a th:unless="${memberOrder.orderStatus} == 1">ㅡㅡ</a>
                </td>
            </tr>

            </tbody>
        </table>

        <div class="admin_order_page">
            <div class="items__page">
                <span th:if="${pageSettings.page &lt;= 1}">이전</span>
                <span th:unless="${pageSettings.page &lt;= 1}">
                    <a th:href="@{/orders/admin/members(page=${pageSettings.page - 1})}">이전</a>
                </span>

                <span th:each="i: ${#numbers.sequence(pageSettings.startPage, pageSettings.endPage)}">
                <span th:if="${i == pageSettings.page}" th:text="${i}" th:class="now__page"></span>
                    <a th:if="${i != pageSettings.page}"
                       th:href="@{/orders/admin/members(page=${i})}"
                       th:text="${i}">
                    </a>
                </span>

                <span th:if="${pageSettings.page >= pageSettings.totalPage}">다음</span>
                <a th:unless="${pageSettings.page >= pageSettings.totalPage}"
                   th:href="@{/orders/admin/members(page=${pageSettings.page + 1})}">
                    다음
                </a>
        </div>
    </div>
    <!--main div-->
</main>
</body>
</html>
