  <!DOCTYPE html>
  <head>

  <link rel="shortcut icon" href="#" type="image/x-icon" />

  <!--폰트-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&family=Sometype+Mono&display=swap" rel="stylesheet">
  <!--CSS-->
  <link rel="stylesheet" href="../../static/css/pages/admins/admins-item.css">
  </head>
  <body>
    <header>
    <a href="#" class="header__logo">PERION</a>
    <nav class="header__nav">
        <ul>
            <li><a href="#">쇼핑몰</a></li>
            <li><a href="#">로그아웃</a></li>
        </ul>
    </nav> 
    </header>

    <aside class="side-bar">
      <div class="margin"></div>
      <ul>
        <li>
          <a href="#"><i class="fa-solid fa-cat"></i>매출 조회</a>
        </li>
        <li>
          <a href="#">회원 조회</a>
        </li>
        <li>
          <a href="#">상품 조회</a>
        </li>
        <li>
          <a href="#">상품 등록</a>
        </li>
        <li>
          <a href="#">회원 주문 목록</a>
        </li>
        <li>
          <a href="#">비회원 주문 목록</a>
        </li>
        <li>
          <a href="#">공지사항</a>
        </li>
        <li>
          <a href="#">Q&A</a>
        </li>
        <li>
          <a href="#">Review</a>
        </li>
      </ul>

    <div class="side-bar__icon"><img src="../../static/images/spartan-helmet-white.svg" alt="실패" /></div>
    </aside>
    
    <main>
      <div class="main">
        <div class="admin_item">상품 조회</div>
        <div class="admin_item_sale">onsale | unsale</div>
        <div class="admin_item_category">top | bottom | outer | accessary</div>
        <div class="admin_item_search">
          <select name="category">
            <option value="member_id">상품 번호</option>

            <option value="member_address_basic" selected>상품명</option>
          </select>
          <input type="text" />
          <button>검색</button>
        </div>

        <!-- table Ex-->
        <table>
          <thead>
            <tr>
              <th>상품 번호</th>
              <th>상품 이름</th>
              <th>상품 가격</th>
              <th>상품 재고</th>
              <th>상품 설명</th>
              <th>판매</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
          </tbody>
        </table>

        <div class="admin_item_page"><a href="1">1</a> <a href="2">2</a></div>        
      </div><!--main div-->
    </main>
   

  </body>
  </html>