<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION-관리자 로그인 페이지</title>
    <meta name="description" content="관리자 페이지">
</head>
<body>
<header th:replace="~{/fragments/admin-login-header :: admin-login-header}"></header>
<main>
    <img class="main__logo" src="/images/spartan-helmet.svg">
    <form th:action method="post">
        <label class="label" for="adminId">
            <h5 class="label__title">관리자 아이디</h5>
            <input id="adminId" name="adminId" class="input" type="text"/>
            <h6 class="label__error">에러메시지를 출력합니다.</h6>
        </label>
        <label class="label" for="adminPw">
            <h5 class="label__title">관리자 비밀번호</h5>
            <input id="adminPw" name="adminPw" class="input" type="password"/>
            <h6 class="label__error">에러메시지를 출력합니다.</h6>
        </label>
        <button class="btn__lg btn--black">관리자 로그인</button>
    </form>
</main>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>