<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:admin-head>
    <div
      th:remove="tag"
      th:replace="~{/fragments/admin-head :: admin-head} "
    ></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-order.css" />
  </head>
  <body>
    <header
      th:replace="~{/fragments/admin-login-header :: admin-login-header}"
    ></header>

    <aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}"></aside>

    <main>
      <div class="main">
        <div class="admin_order">회원 주문 목록</div>

        <div class="admin_order_search">
          <select name="category">
            <option value="member_order_no">주문번호</option>

            <option value="member_no" selected>회원번호</option>

            <option value="receiver_namme">이름</option>

            <option value="order_hp">전화번호</option>
            <option value="order_postal_code">우편번호</option>
            <option value="order_address_basic">주소</option>
          </select>

          <input type="text" name="order_search" />
          <button>검색</button>
        </div>
        <!-- table Ex-->
        <table class="order_table">
          <thead>
            <tr>
              <th>회원 주문번호</th>
              <th>회원 번호</th>
              <th>이름</th>
              <th>전화번호</th>
              <th>우편번호</th>
              <th>주소</th>
              <th>주문 상태</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>as14x3e</td>
              <td>23</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td>주문 상태</td>
              <td><a>취소</a></td>
            </tr>
            <tr>
              <td>as14x3e</td>
              <td>23</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td>주문 상태</td>
              <td><a>취소</a></td>
            </tr>
            <tr>
              <td>as14x3e</td>
              <td>23</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td>주문 상태</td>
              <td><a>취소</a></td>
            </tr>
            <tr>
              <td>as14x3e</td>
              <td>23</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td>주문 상태</td>
              <td><a>취소</a></td>
            </tr>
            <tr>
              <td>as14x3e</td>
              <td>23</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td>주문 상태</td>
              <td><a>취소</a></td>
            </tr>
            <tr>
              <td>as14x3e</td>
              <td>23</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td>주문 상태</td>
              <td><a>취소</a></td>
            </tr>
            <tr>
              <td>as14x3e</td>
              <td>23</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td>주문 상태</td>
              <td><a>취소</a></td>
            </tr>
            <tr>
              <td>as14x3e</td>
              <td>23</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td>주문 상태</td>
              <td><a>취소</a></td>
            </tr>
            <tr>
              <td>as14x3e</td>
              <td>23</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td>주문 상태</td>
              <td><a>취소</a></td>
            </tr>
            <tr>
              <td>as14x3e</td>
              <td>23</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td>주문 상태</td>
              <td><a>취소</a></td>
            </tr>
            <tr>
              <td>as14x3e</td>
              <td>23</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td>주문 상태</td>
              <td><a>취소</a></td>
            </tr>
            <tr>
              <td>as14x3e</td>
              <td>23</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td>주문 상태</td>
              <td><a>취소</a></td>
            </tr>
            <tr>
              <td>as14x3e</td>
              <td>23</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td>주문 상태</td>
              <td><a>취소</a></td>
            </tr>
          </tbody>
        </table>

        <div class="admin_order_page"><a href="1">1</a> <a href="2">2</a></div>

        <div class="admin_order_detail">주문 상세</div>
        <div class="admin_order_detail_search" align="center">
          <input type="text" />
          <button>검색</button>
        </div>
        <table class="order_detail_table">
          <thead>
            <tr>
              <th>No</th>
              <th>주문번호</th>
              <th>상품번호</th>
              <th>사이즈</th>
              <th>수량</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>as14x3e</td>
              <td>123</td>
              <td>M</td>
              <td>3</td>
            </tr>
            <tr>
              <td>2</td>
              <td>as14x3e</td>
              <td>123</td>
              <td>M</td>
              <td>3</td>
            </tr>
            <tr>
              <td>3</td>
              <td>as14x3e</td>
              <td>123</td>
              <td>M</td>
              <td>3</td>
            </tr>
            <tr>
              <td>4</td>
              <td>as14x3e</td>
              <td>123</td>
              <td>M</td>
              <td>3</td>
            </tr>
            <tr>
              <td>5</td>
              <td>as14x3e</td>
              <td>123</td>
              <td>M</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--main div-->
    </main>
  </body>
</html>
