  <!DOCTYPE html>
  <head>

  <link rel="shortcut icon" href="#" type="image/x-icon" />

  <!--폰트-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&family=Sometype+Mono&display=swap" rel="stylesheet">
  <!--CSS-->
  <link rel="stylesheet" href="../../static/css/pages/admins/admins-member.css">
  </head>
  <body>
    <header>
    <a href="#" class="header__logo">PERION</a>
    <nav class="header__nav">
        <ul>
            <li><a href="#">쇼핑몰</a></li>
            <li><a href="#">로그아웃</a></li>
        </ul>
    </nav> 
    </header>

    <aside class="side-bar">
      <div class="margin"></div>
      <ul>
        <li>
          <a href="#"><i class="fa-solid fa-cat"></i>매출 조회</a>
        </li>
        <li>
          <a href="#">회원 조회</a>
        </li>
        <li>
          <a href="#">상품 조회</a>
        </li>
        <li>
          <a href="#">상품 등록</a>
        </li>
        <li>
          <a href="#">회원 주문 목록</a>
        </li>
        <li>
          <a href="#">비회원 주문 목록</a>
        </li>
        <li>
          <a href="#">공지사항</a>
        </li>
        <li>
          <a href="#">Q&A</a>
        </li>
        <li>
          <a href="#">Review</a>
        </li>
      </ul>
      
      <div class="side-bar__icon"><img src="../../static/images/spartan-helmet-white.svg" alt="실패" /></div>
      
    </aside>

    <main>
      <div class="main">
        <div class="admin_member">회원 목록</div>

        <div class="admin_member_search">
          <select name="category">
            <option value="member_id">아이디</option>

            <option value="member_hp">전화번호</option>

            <option value="member_email">이메일</option>

            <option value="member_name">이름</option>

            <option value="member_address_basic">주소</option>
          </select>
          <input type="text" />
          <button>검색</button>
        </div>

        <!-- table Ex-->
        <table>
          <thead>
            <tr>
              <th>No</th>
              <th>회원 아이디</th>
              <th>이름</th>
              <th>전화번호</th>
              <th>이메일</th>
              <th>우편번호</th>
              <th>주소</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>perion1014</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>perion1014@gmail.com</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td>perion1014</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>perion1014@gmail.com</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>3</td>
              <td>perion1014</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>perion1014@gmail.com</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>4</td>
              <td>perion1014</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>perion1014@gmail.com</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>5</td>
              <td>perion1014</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>perion1014@gmail.com</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>6</td>
              <td>perion1014</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>perion1014@gmail.com</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>7</td>
              <td>perion1014</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>perion1014@gmail.com</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>8</td>
              <td>perion1014</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>perion1014@gmail.com</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>9</td>
              <td>perion1014</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>perion1014@gmail.com</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>10</td>
              <td>perion1014</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>perion1014@gmail.com</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>11</td>
              <td>perion1014</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>perion1014@gmail.com</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>12</td>
              <td>perion1014</td>
              <td>김전사</td>
              <td>01044448888</td>
              <td>perion1014@gmail.com</td>
              <td>797979</td>
              <td>제주특별자치도 제주시 태성로23 제이빌라 110호</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
          </tbody>
        </table>

        <div class="admin_member_page"><a href="1">1</a> <a href="2">2</a></div>
      </div> <!--main div-->
    </main> 
   

  </body>
  </html>