<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <header th:replace="~{/fragments/admin-login-header :: header}"></header>

    <h1>perion</h1>
    <form th:action method="post">
        <div name="adminId">
            <li>아이디</li>
        </div>
        <div>
            <input>
        </div>
        <div name="adminPw">
            <li>비밀번호</li>
        </div>
        <div>
            <input type="password">
        </div>
        <button>관리자 로그인</button>
    </form>
</head>
<body>

</body>
</html>