<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
  <script type="module" src="/js/pages/home.js" defer></script>
</head>
<body>
<header th:if="${session.loginMember != null}" th:replace="~{/fragments/login-header :: header}">
</header>
<header th:unless="${session.loginMember == null}" th:replace="~{/fragments/header :: header}">
</header>
<main class="notice__container">
    <h1 class="section__title" th:text="${noticeUpdateDTO.getNoticeTitle()}">글제목</h1>
    <div class="reviews__container">
      <div class="review notice__detail">
        <span class="review__header" th:text="|글번호  ${noticeUpdateDTO.getNoticeNo()}|">글번호</span>
        <span class="review__header" th:text="|작성시간 ${#dates.format(noticeUpdateDTO.getNoticeCreatedTime(), 'yyyy-MM-dd')}|">작성일</span>
        <span class="review__header" th:text="|조회수 ${noticeUpdateDTO.getNoticeViewcount()}|">조회수</span>
      </div>
      <div class="notice__detail">
        <p th:text="${noticeUpdateDTO.getNoticeContent()}">글내용</p>
      </div>
    </div>
  <div class="items__page notice__link">
    <a href="#" onclick="history.back()">이전 페이지로</a>
    <a href="/notice">공지사항으로</a>
  </div>

</main>
</body>
</html>
