<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <!--CSS-->
    <script type="module" src="/js/pages/home.js" defer></script>
</head>
<body>
<header th:if="${session.loginMember != null}" th:replace="~{/fragments/login-header :: header}">
</header>
<header th:unless="${session.loginMember == null}" th:replace="~{/fragments/header :: header}">
</header>
<main>
    <div class="main">
        <div class="admin_notice">공지사항</div>

        <div class="admin_notice_search">
            <select name="category">
                <option value="member_id">아이디</option>

                <option value="member_hp">전화번호</option>

                <option value="member_email">이메일</option>

                <option value="member_name">이름</option>

                <option value="member_address_basic">주소</option>
            </select>
            <input type="text"/>
            <button>검색</button>
        </div>

        <!-- table Ex-->
        <table>
            <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>작성일자</th>
                <th>조회수</th>
                <th></th>
            </tr>
            </thead>
            <tbody th:each="noticeListDTO : ${HomeNoticeListByPaging}">
            <tr th:onclick="|location.href='@{|/notice/${noticeListDTO.noticeNo}|}'|">
                <td th:text="${noticeListDTO.noticeNo}"></td>
                <td th:text="${noticeListDTO.noticeTitle}"></td>
                <td th:text="${#dates.format(noticeListDTO.noticeCreatedTime, 'yyyy-MM-dd')}"></td>
                <td th:text="${noticeListDTO.noticeViewcount}"></td>
    </div>
    </form>
    <div class="admin_notice_page">
        <span th:if="${HomeNoticePageSettings.page &lt;= 1}">이전</span>
        <span th:unless="${HomeNoticePageSettings.page &lt;= 1}">
                    <a th:href="@{/notice(page=${HomeNoticePageSettings.page - 1})}">이전</a>
                  </span>

        <span th:each="i : ${#numbers.sequence(HomeNoticePageSettings.startPage, HomeNoticePageSettings.endPage)}">
                    <span th:if="${i == HomeNoticePageSettings.page}" th:text="${i}" th:class="now__page"></span>
                    <a th:unless="${i == HomeNoticePageSettings.page}"
                       th:href="@{/notice(page=${i})}"
                       th:text="${i}"></a>
                  </span>

        <span th:if="${HomeNoticePageSettings.page >= HomeNoticePageSettings.totalPage}">다음</span>
        <a th:unless="${HomeNoticePageSettings.page >= HomeNoticePageSettings.totalPage}"
           th:href="@{/notice(page=${HomeNoticePageSettings.page + 1})}"
        >다음</a
        >
    </div>
    </div><!--main div-->
</main>


</body>
</html>