<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION - ID/PW 찾기 페이지</title>
    <meta name="description" content="20대 선호도 1위 쇼핑몰! 지금 로그인하면 다양한 이벤트 정보를 확인할 수 있습니다.">
    <script type="module" src="/js/pages/member-login.js"></script>
    <script>
        function change_form(type) {
            if (type == "findIdRadio") {
                document.getElementById("display1").style.display = "block";    //tripA 보이게 하는 부분. type은 block 말고 다른 것들도 있어요. 적절한 거 쓰시면 됩니다.
                document.getElementById("display2").style.display = "none";    //tripB 보이지 않게 하는 부분
            } else if (type == "findPwRadio") {
                document.getElementById("display1").style.display = "none";
                document.getElementById("display2").style.display = "block";
            }
        }
    </script>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<main class="main__container">
    <h1 class="main__title">아이디/비밀번호 찾기</h1>
    <form>
        <label>
            <input type="radio" name="option" value="1" id="findIdRadio" onclick="change_form('findIdRadio')" checked>아이디 찾기
        </label>
        <label>
            <input type="radio" name="option" value="2" id="findPwRadio" onclick="change_form('findPwRadio')">비밀번호 찾기
        </label>
    </form>

    <!--아이디 찾기-->
    <form action="/members/info/id/find-success" name="memberEmail" method="post" id="display1">
        <label class="label" for="memberEmail">
            <h5 class="label__title">이메일*</h5>
            <input id="memberEmail" name="memberEmail" class="input" type="text"/>
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <button type="submit" class="btn btn--black btn--member-login">아이디 조회</button>
    </form>

    <!--비밀번호 찾기-->
    <form action="/members/info/pw" method="post" id="display2">
        <label class="label" for="memberId">
            <h5 class="label__title">아이디*</h5>
            <input id="memberId" name="memberId" class="input" type="text"/>
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="Email">
            <h5 class="label__title">이메일*</h5>
            <input id="Email" name="Email" class="input" type="text"/>
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="Email">
            <h5 class="label__title">인증번호*</h5>
            <input id="verification code" name="verification code" class="input" type="text"/>
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <button type="submit" class="btn btn--black btn--member-login">비밀번호 찾기</button>
    </form>
</main>
</body>
</html>