<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION - ID/PW 찾기 페이지</title>
    <meta name="description" content="20대 선호도 1위 쇼핑몰! 지금 로그인하면 다양한 이벤트 정보를 확인할 수 있습니다.">
    <script type="module" src="/js/pages/member-login.js" defer></script>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<main class="main__container">
    <h1 class="main__title">비밀번호 재설정</h1>
    <form th:action method="post">
        <label class="label" for="memberPw">
            <h5 class="label__title">비밀번호*</h5>
            <input id="memberPw" name="memberPw" class="input" type="text"/>
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <label class="label" for="pwCheck">
            <h5 class="label__title">비밀번호 확인*</h5>
            <input id="pwCheck" name="pwCheck" class="input" type="text"/>
            <div class="label__error-container">
                <h6 class="label__error">에러 메시지를 출력합니다.</h6>
            </div>
        </label>
        <button type="submit" class="btn btn--black btn--member-login">비밀번호 재설정</button>
    </form>
</main>
</body>
</html>