<aside class="side-bar" th:fragment="admin-sidebar">
    <div class="margin"></div>
    <ul>
        <li>
            <a href="#">매출 조회</a>
        </li>
        <li>
            <a href="/members/admin">회원 조회</a>
        </li>
        <li>
            <a href="#">상품 조회</a>
        </li>
        <li>
            <a href="#">상품 등록</a>
        </li>
        <li>
            <a href="#">회원 주문 목록</a>
        </li>
        <li>
            <a href="#">비회원 주문 목록</a>
        </li>
        <li>
            <a href="#">공지사항</a>
        </li>
        <li>
            <a href="#">Q&A</a>
        </li>
        <li>
            <a href="#">Review</a>
        </li>
    </ul>
    <div class="side-bar__icon"><img src="/images/spartan-helmet-white.svg" alt="실패" /></div>
</aside>
