<header th:fragment="admin-login-header">
    <!-- HEADER -->
    <div class="inner">
        <a href="/" class="logo">
            <img
                    src="../../static/images/perionM.png"
                    alt="perion management"
                    style="height: 72px"
            />
        </a>

        <ul class="main-menu">
            <li class="item">
                <div class="item__name">관리</div>
                <div class="item__contents">
                    <div class="contents__menu">
                        <ul class="inner">
                            <li>
                                <h4>회원</h4>
                                <ul>
                                    <li>회원 목록 조회</li>
                                </ul>
                            </li>

                            <li>
                                <h4>매출</h4>
                                <ul>
                                    <li>매출 조회</li>
                                </ul>
                            </li>

                            <li>
                                <h4>상품</h4>
                                <ul>
                                    <li>상품 조회</li>
                                    <li>상품 등록</li>
                                    <li>상품 수정/삭제</li>
                                </ul>
                            </li>

                            <li>
                                <h4>게시판</h4>
                                <ul>
                                    <li>공지사항</li>
                                    <li>Q&A</li>
                                    <li>Review</li>
                                </ul>
                            </li>

                            <li>
                                <h4>주문</h4>
                                <ul>
                                    <li>회원 주문 목록</li>
                                    <li>비회원 주문 목록</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="nav">쇼핑몰</div>
            </li>
            <li>
                <div class="nav">로그아웃</div>
            </li>
        </ul>
    </div>
</header>