<footer th:fragment="footer">
    <div class="footer__infos-logo">
        <div class="footer__info">
            <div>
                <h4>회사 정보</h4>
                <span>상호: (주)페리온</span>
                <span>대표: 워리어</span>
                <span>전화번호: 02-0000-0000</span>
                <span>사업자 등록번호: 111-11111111-111</span>
                <span>핸드폰 번호: 111-11-11111</span>
                <span>이메일: perionwar@riors.co.kr</span>
            </div>
            <div>
                <h4>은행 정보</h4>
                <span>00은행 (계좌번호 숫자들 - 0000)</span>
                <span>예금주: 주먹펴고일어서서</span>
            </div>
            <div>
                <h4>쇼핑몰</h4>
                <a href="/items">All</a>
                <a href="/items/outer">Outer</a>
                <a href="/items/inner">Inner</a>
                <a href="/items/pants">Pants</a>
            </div>
        </div>
        <div class="footer__logo">
            <img class="footer__logo-img" src="/images/spartan-helmet.svg" alt="logo" />
            <h2 class="footer__logo-title">PERION</h2>
        </div>
    </div>
    <div class="footer__copyright-sns">
        <span>copyrightⓒ 2023.Perion.All Rights Reserved</span>
        <div>
            <img class="footer__sns" src="/images/icons/instagram.png" alt="" />
            <img class="footer__sns" src="/images/icons/line.png" alt="" />
            <img class="footer__sns" src="/images/icons/facebook.png" alt="" />
            <img class="footer__sns" src="/images/icons/kakaotalk.png" alt="" />
        </div>
    </div>
</footer>