<footer th:fragment="footer">
    <div class="A">
        <div class="a">
            <div>
                <span>회사 정보</span>
                <p>상호: (주)페리온</p>
                <p>대표: 워리어</p>
                <p>전화번호: 02-0000-0000</p>
                <p>사업자 등록번호: 111-11111111-111</p>
                <p>핸드폰 번호: 111-11-11111</p>
                <p>이메일: perionwar@riors.co.kr</p>
            </div>

            <div>
                <span>은행 정보</span>
                <p>00은행 (계좌번호 숫자들 - 0000)</p>
                <p>예금주: 주먹펴고일어서서</p>
            </div>

            <div>
                <span>쇼핑몰</span>
                <p>All</p>
                <p>Outer</p>
                <p>Inner</p>
                <p>Pants</p>
                <p>Accessories</p>
            </div>
        </div>

        <div class="b">copyrightⓒ 2023.Perion.All Rights Reserved</div>
    </div>

    <div class="B">
        <div class="logo">
            <img src="/images/spartan-helmet.svg" alt="" class="perionLogo" />
            <p>PERION</p>
        </div>
        <div class="sns">
            <img src="/images/icons/sns/instagram.png" alt="" />
            <img src="/images/icons/sns/line.png" alt="" />
            <img src="/images/icons/sns/facebook.png" alt="" />
            <img src="/images/icons/sns/kakaotalk.png" alt="" />
        </div>
    </div>
</footer>