<head th:fragment="head">
    <!--웹 호환성 및 반응형 웹 -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--SEO 대책-->
    <meta name="author" content="HyonHyonKOR" />
    <meta
            name="keywords"
            content="male e-commerce,shopping,male,unique,남자 쇼핑몰,남자 아우터,남자 옷,남자 바지,남자 귀걸이,남자 악세사리"
    />
    <link rel="icon" href="/images/spartan-helmet.svg" />
    <!--OG (Open Graph Data)-->
    <meta property="og:title" content="HyonHyon" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="배포후 생성된 URL" />
    <meta property="og:image" content="배포후에 생성된 이미지 URL" />
    <!--폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&family=Sometype+Mono&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <!--JS-->
    <script type="module" src="/js/logout.js"></script>
</head>