<header th:fragment="header">
            <a href="/" class="header__logo">PERION</a>
            <nav class="header__nav">
                <ul class="header__lists">
                    <li class="header__list header__nav-shop">
                        <a  href="/items">쇼핑몰</a>
                        <ul class="nav-shop__menus">
                            <li class="nav-shop__menu"><a class="nav-shop__menu--title" href="/items">All</a></li>
                            <li class="nav-shop__menu"><a class="nav-shop__menu--title" href="#">Outer</a></li>
                            <li class="nav-shop__menu"><a class="nav-shop__menu--title" href="#">Inner</a></li>
                            <li class="nav-shop__menu"><a class="nav-shop__menu--title" href="#">Pants</a></li>
                        </ul>
                    </li>
                    <li class="header__list">
                        <a class="header__nav-search"  href='javascript:void(0)'>상품검색</a>
                        <ul class="nav-search__menus">
                            <li class="nav-search__menu">
                                <form class="header__search-form">
                                    <label for="header__search">
                                        <input id="header__search" class="header__search" type="text" placeholder="상품명을 입력해주세요">
                                        <button class="btn btn--xs btn--white">검색</button>
                                    </label>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="header__list"><a href="/notice">공지사항</a></li>
                    <li class="header__list"><a href="/members/login">로그인</a></li>
                    <li class="header__list"><a href="#">장바구니</a></li>
                </ul>
            </nav>
</header>