<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>perion지도</title>

</head>-->
<!-- 이미지 지도를 표시할 div 입니다 지도 사이즈 수정은 여기서-->
<!--<body>-->
<section th:fragment="kakaomap">

    <div id="staticMap" style="width:1320px;height:400px;"></div>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=aedbf8648d344419ce1893a78f4e3566"></script>
    <script>
        // 이미지 지도에 표시할 마커입니다
        var marker = {
            position: new kakao.maps.LatLng(37.569437, 126.986109),
            text: 'Perion' // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다
        };

        var staticMapContainer = document.getElementById('staticMap'), // 이미지 지도를 표시할 div
            staticMapOption = {
                center: new kakao.maps.LatLng(37.569437, 126.986109), // 이미지 지도의 중심좌표
                level: 3, // 이미지 지도의 확대 레벨
                marker: marker // 이미지 지도에 표시할 마커
            };

        // 이미지 지도를 생성합니다
        var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
    </script>
</section>
<!--</body>-->
<!--</html>-->