:root {
  /*사이트 색상 선정*/
  --color-primary: var(--color-white);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-yellow);
  --color-error: var(--color-red);
  --color-text: var(--color-black);
  
  /*색상 선정*/
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-yellow: #ffb94f;
  --color-gray: #666;
  --color-red: #dc3545;
  
}

/* 사이드바의 너비와 높이를 변수를 통해 통제 */
:root {
  --side-bar-width: 200px;
  --side-bar-height: 80vh;
}

a {
  text-decoration: none; 
}
/* header */
* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

body{
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  cursor: pointer;
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  width: 100%;
  height: 3.4375rem;
  padding: 0 15rem;
  background-color: var(--color-primary);
  box-shadow: rgba(0, 0, 0,0.24) 0px 3px 8px;
  z-index: 9;
}
.header__logo{
  font-size: 1.5rem;
  font-weight: bold;
}
.header__nav{
  font-size: 0.75rem;
}
.header__nav ul{
  display:flex;
  font-weight:600;
  gap:1.75rem;
  color: var(--color-primary);
}


.header__nav ul ul {
  display: none;
}

.header__nav > ul > li {
  position: relative;
}

.header__nav > ul > li:hover > ul {
  display: block;
}

.header__nav > ul > li > ul {
  position: absolute;
  top: 100%;		/* 2차 메뉴를 1차 메뉴의 아래에 위치시킨다 */
  /* background-color: rgba(255, 255, 255, 0);
   */
   background-color: white;
  box-shadow: rgba(0, 0, 0,0.24) 0px 3px 8px;
  margin-top: 10px;
}

.header__nav > ul > li > .shop_ul > li {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
}

.header__nav > ul > li > ul > li:nth-child(4) {
  padding-bottom: 8px;
}

.header__nav > ul > li > ul > li > a:hover {
  color: var(--color-yellow);
}

.header__nav > ul > li > a {
  padding-bottom: 20px;
  width: 100%;
}

.shop {
  padding-left: 16px;
}

.shop_ul {
  width: 80px;
}

.search_ul {
  width: 200px;
  border-radius: 4px;
}

.header__nav > ul > li > .search_ul > li {
  padding: 4px 8px 4px;
}

input {
  width:180px;
  font-size: 12px;
  border:none;
  outline: none;
}

input::placeholder {
  font-weight: bold;
}

form {
  display: flex;
}

button {
  border: none;
  cursor: pointer;
  background-color: white;
  background-image: url('../images/spartan-helmet.svg');
  background-size: cover;
  width: 32px;
  transform: scaleX(-1);
}


