  <!DOCTYPE html>
  <head>

  <link rel="shortcut icon" href="#" type="image/x-icon" />
    <meta charset="UTF-8">
    <title>헤더 연습</title>

  <!--폰트-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&family=Sometype+Mono&display=swap" rel="stylesheet">
  <!--CSS-->
  <link rel="stylesheet" href="../static/css/header_practice.css">
  </head>
  <body>
    <header>
    <a href="#" class="header__logo">PERION</a>
    <nav class="header__nav">
        <ul>
          <li>
            <a href="/items" class="shop">쇼핑몰</a>
            <ul class="shop_ul">
              <li><a href="#">Outer</a></li>
              <li><a href="#">Top</a></li>
              <li><a href="#">Bottom</a></li>
              <li><a href="#">Accesory</a></li>
            </ul>
          </li>
          <li><a href="#">상품검색</a>
            <ul class="search_ul">
              <li><form>
                <input type="text" placeholder="search">
                <button></button>
              </form></li>
            </ul>
          </li>
          <li><a href="/notice">공지사항</a></li>
          <li><a href="/members/login">로그인</a></li>
          <li><a href="#">장바구니</a></li>
        </ul>
    </nav> 
    </header>

  
   

  </body>
  </html>