<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <!--웹 호환성 및 반응형 웹 -->
    <title>PERION 공식 온라인 쇼핑몰</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--SEO 대책-->
    <meta name="description" content="" />
    <meta name="author" content="HyonHyonKOR" />
    <meta
            name="keywords"
            content="male e-commerce,shopping,male,unique,남자 쇼핑몰,남자 아우터,남자 옷,남자 바지,남자 귀걸이,남자 악세사리"
    />
    <link rel="shortcut icon" href="/" type="image/x-icon" />
    <!--OG (Open Graph Data)-->
    <meta property="og:title" content="HyonHyon" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="배포후 생성된 URL" />
    <meta property="og:image" content="배포후에 생성된 이미지 URL" />
    <!--Icons-->
    <script
            src="https://kit.fontawesome.com/459e14b80c.js"
            crossorigin="anonymous"
    ></script>
    <!--CSS-->
    <!--JS-->
</head>
<body>
   <header th:replace="~{/fragments/header :: header}"></header>
   <h1>클라이언트 홈페이지(로그인전)</h1>
   <footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>