<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
   <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
   <title>PERION 공식 온라인 쇼핑몰</title>
   <meta name="description" content="웹페이지 설명">
</head>
<body>
<header th:replace="~{/fragments/login-header :: header}">
</header>
<img class=home__background-img src="/images/diego-sanchez-DEDhybzzBwc-unsplash.webp" alt="background-image"/>
<main class="section__container">
   <section class="section" id="new-arrivals">
      <h1 class="section__title">New Arrival</h1>
   </section>
   <section id="about-us" th:style=" 'background-image: url(/images/clay-banks-hi_52O-h5G8-unsplash.webp)' ">
      <section class="section section--banner">
         <h1 class="section__title section__title--right">About Us</h1>
      </section>
   </section>
   <section class="section" id="best-items">
      <h1 class="section__title">Best Items</h1>
   </section>
   <section id="access">
      <section class="section">
         <h1 class="section__title section__title--right">Access</h1>
      </section>
   </section>
</main>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>