<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
   <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
   <title>PERION 공식 온라인 쇼핑몰</title>
   <meta name="description" content="웹페이지 설명">
   <script src="/js/pages/login-home.js" defer></script>
</head>
<body>
<header th:replace="~{/fragments/login-header :: header}">
</header>
<img class=home__background-img src="/images/diego-sanchez-DEDhybzzBwc-unsplash.webp" alt="background-image"/>
<main class="section__container">
   <section class="section" id="new-arrivals">
      <h1 class="section__title">New Arrival</h1>
      <div class="new-items__container">
         <span th:each="itemDTO : ${itemDTOList}" th:if="${itemDTOStat.index} < 4">
            <a th:href="@{/items/{itemNo}(itemNo=${itemDTO.itemNo})}">
               <div class="item__card">
                  <img class="item__card-img" th:src="@{/images/itemImages/__${itemDTO.itemNo}__/thumb/__${itemDTO.itemPhotosDTO.itemThumb}__}">
                  <h3 class="item__card-name" th:text="${itemDTO.itemName}"></h3>
                  <h3 class="item__card-price" th:text="${itemDTO.itemPrice} + '원'"></h3>
               </div>
            </a>
         </span>
      </div>
   </section>
   <section id="about-us" th:style=" 'background-image: url(/images/clay-banks-hi_52O-h5G8-unsplash-mod.webp); background-size:cover' ">
      <section class="section section--banner">
         <h1 class="section__title section__title--right">About Us</h1>
         <div class="banner__container">
            <div class="banner__info">
               <img class="banner__logo" alt="banner" src="/images/spartan-helmet-white.svg">
               <div class="banner__text">
                  페리온에 오신 것을 환영합니다.<br>
                  더 많은 혜택과 정보를 만나보세요.
               </div>
            </div>
            <div class="banner__btns">
               <button class="btn btn--index btn--black btn--member-info" th:onclick="@{|window.location='/members/${session.loginMember.getMemberNo()}/show-info'|}">마이페이지</button>
               <button class="btn btn--index btn--black btn--notice" onclick="location.href='/notice'">공지사항</button>
               <button class="btn btn--index btn--black btn--items" onclick="location.href='/items'">상품 보기</button>
            </div>
         </div>
      </section>
   </section>
   <section class="section" id="best-items">
      <h1 class="section__title">Best Items</h1>
      <div class="slide__wrap">
         <div class="slide__container clearfix">
            <div id="top1" class="slide__box">
               <button type="button" class="btn--slide slide__prev1 "><img class="btn--slide-img" alt="back" src="/images/icons/left-arrow.svg"></button>
               <img src="/images/itemImages/1/thumb/p1.jpg">
               <div class="slide__info">
                  <h2 class="item__card-name item__card-name--rank" >1위</h2>
                  <h2 class="item__card-name">상품명을 입력해주세요</h2>
                  <h2 class="item__card-price">100,000원</h2>
                  <div class="item__rank">
                     <img class="item__star" src="/images/icons/star.svg">
                     <img class="item__star" src="/images/icons/star.svg">
                     <img class="item__star" src="/images/icons/star.svg">
                     <img class="item__star" src="/images/icons/star.svg">
                     <img class="item__star" src="/images/icons/star.svg">
                  </div>
                  <div class="slide__btns">
                     <button class="btn btn--index btn--black">상품 자세히 보기</button>
                  </div>
               </div>
               <button type="button" class="btn--slide slide__next1"><img class="btn--slide-img" alt="forward" src="/images/icons/right-arrow.svg"></button>
            </div>
            <div id="top2" class="slide__box">
               <button type="button" class="btn--slide slide__prev2 "><img class="btn--slide-img" alt="back" src="/images/icons/left-arrow.svg"></button>
               <img src="/images/itemImages/1/thumb/p1.jpg">
               <div class="slide__info">
                  <h2 class="item__card-name item__card-name--rank" >2위</h2>
                  <h2 class="item__card-name">상품명을 입력해주세요</h2>
                  <h2 class="item__card-price">100,000원</h2>
                  <div class="item__rank">
                     <img class="item__star" src="/images/icons/star.svg">
                     <img class="item__star" src="/images/icons/star.svg">
                     <img class="item__star" src="/images/icons/star.svg">
                     <img class="item__star" src="/images/icons/star.svg">
                     <img class="item__star" src="/images/icons/star.svg">
                  </div>
                  <div class="slide__btns">
                     <button class="btn btn--index btn--black">상품 자세히 보기</button>
                  </div>
               </div>
               <button type="button" class="btn--slide slide__next2"><img class="btn--slide-img" alt="forward" src="/images/icons/right-arrow.svg"></button>
            </div>
            <div id="top3" class="slide__box">
               <button type="button" class="btn--slide slide__prev3 "><img class="btn--slide-img" alt="back" src="/images/icons/left-arrow.svg"></button>
               <img src="/images/itemImages/1/thumb/p1.jpg">
               <div class="slide__info">
                  <h2 class="item__card-name item__card-name--rank" >3위</h2>
                  <h2 class="item__card-name">상품명을 입력해주세요</h2>
                  <h2 class="item__card-price">100,000원</h2>
                  <div class="item__rank">
                     <img class="item__star" src="/images/icons/star.svg">
                     <img class="item__star" src="/images/icons/star.svg">
                     <img class="item__star" src="/images/icons/star.svg">
                     <img class="item__star" src="/images/icons/star.svg">
                     <img class="item__star" src="/images/icons/star.svg">
                  </div>
                  <div class="slide__btns">
                     <button class="btn btn--index btn--black">상품 자세히 보기</button>
                  </div>
               </div>
               <button type="button" class="btn--slide slide__next3"><img class="btn--slide-img" alt="forward" src="/images/icons/right-arrow.svg"></button>
            </div>
         </div>
      </div>
   </section>
   <section id="access">
      <section class="section">
         <h1 class="section__title section__title--right">Access</h1>
         <div id="map" class="api__container" name="map">
            <!-- * 카카오맵 - 지도퍼가기 -->
            <!-- 1. 지도 노드 -->
            <div id="daumRoughmapContainer1703765293064" class="root_daum_roughmap root_daum_roughmap_landing" style="width:100%"></div>

            <!--
                2. 설치 스크립트
                * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
            -->
            <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

            <!-- 3. 실행 스크립트 -->
            <script charset="UTF-8">
               new daum.roughmap.Lander({
                  "timestamp" : "1703765293064",
                  "key" : "2hfko",
                  "mapHeight" : "370"
               }).render();
            </script>
         </div>
         <address>
            서울특별시 종로구 종로12길 15 (관철동 13-13)<br>
            1호선 종각역 4번 출구로부터 약 240m <br>
            <span class="address__time">영업시간: 오전 11시~ 오후 9시 (월요일 휴무)</span>
         </address>
      </section>
   </section>
</main>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>