<!DOCTYPE html>
<html lang="en">
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION - 팬츠</title>
    <meta name="description" content="가장 트렌디한 팬츠들이 있습니다. 와이드팬츠, 슬렉스, 청바지, 반바지 등 다양한 남성 상품들을 지금 확인하세요.">
    <link rel="stylesheet" href="/css/pages/user/items.css">
</head>
<body>
<header th:if="${session.loginMember != null}" th:replace="~{/fragments/login-header :: header}">
</header>
<header th:unless="${session.loginMember == null}" th:replace="~{/fragments/header :: header}">
</header>
<section class="main__container item-list__container">
    <h1 class="main__title">Pants</h1>
    <ul class="item__sorts">
        <li class="item__sort"><a href="">등록순</a></li>
        <li class="item__sort"><a href="">가격순</a></li>
        <li class="item__sort"><a href="">평점순</a></li>
    </ul>
    <ul class="item__filters">
        <li class="item__filter"><a href="/items">All</a></li>
        <li class="item__filter"><a class="items/outer">Outer</a></li>
        <li class="item__filter"><a href="/items/inner">Inner</a></li>
        <li class="item__filter"><a class="now__page">Pants</a></li>
    </ul>
    </ul>
</section>
<main class="items__container">
        <a href="#">
            <div class="item__card">
                <img class="item__card-img" src="/images/item-sample-tobias-tullius-Fg15LdqpWrs-unsplash.webp">
                <h3 class="items item__card-name">상품명을 입력해주세요</h3>
                <h3 class="items item__card-price">100,000원</h3>
            </div>
        </a>
        <a href="#">
            <div class="item__card">
                <img class="item__card-img" src="/images/item-sample-tobias-tullius-Fg15LdqpWrs-unsplash.webp">
                <h3 class="items item__card-name">상품명을 입력해주세요</h3>
                <h3 class="items item__card-price">100,000원</h3>
            </div>
        </a>
        <a href="#">
            <div class="item__card">
                <img class="item__card-img" src="/images/item-sample-tobias-tullius-Fg15LdqpWrs-unsplash.webp">
                <h3 class="items item__card-name">상품명을 입력해주세요</h3>
                <h3 class="items item__card-price">100,000원</h3>
            </div>
        </a>
        <a href="#">
            <div class="item__card">
                <img class="item__card-img" src="/images/item-sample-tobias-tullius-Fg15LdqpWrs-unsplash.webp">
                <h3 class="items item__card-name">상품명을 입력해주세요</h3>
                <h3 class="items item__card-price">100,000원</h3>
            </div>
        </a>
    <a href="#">
        <div class="item__card">
            <img class="item__card-img" src="/images/item-sample-tobias-tullius-Fg15LdqpWrs-unsplash.webp">
            <h3 class="items item__card-name">상품명을 입력해주세요</h3>
            <h3 class="items item__card-price">100,000원</h3>
        </div>
    </a>
    <a href="#">
        <div class="item__card">
            <img class="item__card-img" src="/images/item-sample-tobias-tullius-Fg15LdqpWrs-unsplash.webp">
            <h3 class="items item__card-name">상품명을 입력해주세요</h3>
            <h3 class="items item__card-price">100,000원</h3>
        </div>
    </a>
    <a href="#">
        <div class="item__card">
            <img class="item__card-img" src="/images/item-sample-tobias-tullius-Fg15LdqpWrs-unsplash.webp">
            <h3 class="items item__card-name">상품명을 입력해주세요</h3>
            <h3 class="items item__card-price">100,000원</h3>
        </div>
    </a>
    <a href="#">
        <div class="item__card">
            <img class="item__card-img" src="/images/item-sample-tobias-tullius-Fg15LdqpWrs-unsplash.webp">
            <h3 class="items item__card-name">상품명을 입력해주세요</h3>
            <h3 class="items item__card-price">100,000원</h3>
        </div>
    </a>
    <a href="#">
        <div class="item__card">
            <img class="item__card-img" src="/images/item-sample-tobias-tullius-Fg15LdqpWrs-unsplash.webp">
            <h3 class="items item__card-name">상품명을 입력해주세요</h3>
            <h3 class="items item__card-price">100,000원</h3>
        </div>
    </a>
    <a href="#">
        <div class="item__card">
            <img class="item__card-img" src="/images/item-sample-tobias-tullius-Fg15LdqpWrs-unsplash.webp">
            <h3 class="items item__card-name">상품명을 입력해주세요</h3>
            <h3 class="items item__card-price">100,000원</h3>
        </div>
    </a>
    <a href="#">
        <div class="item__card">
            <img class="item__card-img" src="/images/item-sample-tobias-tullius-Fg15LdqpWrs-unsplash.webp">
            <h3 class="items item__card-name">상품명을 입력해주세요</h3>
            <h3 class="items item__card-price">100,000원</h3>
        </div>
    </a>
    <a href="#">
        <div class="item__card">
            <img class="item__card-img" src="/images/item-sample-tobias-tullius-Fg15LdqpWrs-unsplash.webp">
            <h3 class="items item__card-name">상품명을 입력해주세요</h3>
            <h3 class="items item__card-price">100,000원</h3>
        </div>
    </a>
</main>
<form class="items__search">
    <input class="input--items">
    <button class="btn btn--xs btn--black">검색</button>
</form>
<div class="items__page">
    <span>이전</span>
    <a class="now__page">1</a>
    <a>2</a>
    <a>3</a>
    <a>4</a>
    <a>5</a>
    <a>6</a>
    <a>7</a>
    <a>8</a>
    <a>9</a>
    <a>10</a>
    <span>다음</span>
</div>
</body>
</html>