<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:remove="tag" th:replace="~{/fragments/head :: head} "></div>
    <title>PERION - 상품 상세</title>
    <meta name="description" content="상품 정보, Q&A, 가격 등 다양한 상품의 정보를 확인하세요.">
    <link rel="stylesheet" href="/css/pages/user/items.css">
    <link rel="stylesheet" href="/css/components/star.css">
    <script type="module" src="/js/pages/item-detail.js"></script>
    <script src = "/js/item-detail-CMS.js"></script>
    <script src = "/js/star.js"></script>
    <script src = "/js/member-updatecart-pym.js"></script>
</head>
<body>
<header th:if="${session.loginMember != null}" th:replace="~{/fragments/login-header :: header}">
</header>
<header th:unless="${session.loginMember == null}" th:replace="~{/fragments/header :: header}">
</header>
<main class="main__container">
    <section id="item__info" class="item__container">
        <img class="item__img" th:src="@{/images/itemImages/__${itemDTO.itemNo}__/thumb/__${itemPhotosDTO.itemThumb}__}"/>
        <div class="slide__info item__info">
            <h1 class="item__card-name" th:text="${itemDTO.itemName}"></h1>
            <div class="item__rank">
<!--                <img class="item__star" src="/images/icons/star.svg">-->
                <input
                        type="hidden"
                        name="ratevalue"
                        th:value="${itemDTO.itemGrade != null ?  itemDTO.itemGrade : 0}"
                        step="0.1"
                        min="0"
                        max="5"
                />
                <div class="rating-wrap">
                    <div class="rating">
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
            <h2 class="item__card-price item__price" th:text="${itemDTO.itemPrice} + '원'"></h2>

            <h5 class="label__title item__info-title">사이즈</h5>
            <div>
            <form th:action="@{${session.loginMember} != null? '/carts/' + ${session.loginMember.memberNo}: '/carts'}" method = "post" class="item__sizebtns select" style = "display: inline">
                <input type="radio" id="s" name="itemSize" value="S"><label for="s">S</label>
                <input type="radio" id="m" name="itemSize" value="M"><label for="m">M</label>
                <input type="radio" id="l" name="itemSize" value="L"><label for="l">L</label>

            <input style = "display:none;" name = "itemThumbnail" th:value="${'/images/itemImages/__${itemDTO.itemNo}__/thumb/__${itemPhotosDTO.itemThumb}__'}">
            <input style = "display:none;" name = "itemName" th:value="${itemDTO.itemName}">
            <input style = "display:none;" name = "itemPrice" th:value="${itemDTO.itemPrice}">
            <input style = "display:none;" name = "itemNo" th:value="${itemDTO.itemNo}">

            <div class="item__info-title">
                <label class="label" for="item__count">
                    <h5 class="label__title">상품 수량</h5>
                    <div class="item__countbtns">
                        <button onclick = "changeCartAddQuantity(-1, 'item__count')" type = "button" class="btn btn--xs btn--white btn--item">-</button>
                        <input style = "text-align:center;" value="1" id="item__count" class="input input--item" name = "itemQuantity">
                        <button onclick = "changeCartAddQuantity(1, 'item__count')" type = "button" class="btn btn--xs btn--white btn--item">+</button>
                    </div>
                </label>
            </div>
            <h5 class="label__title item__info-title">배송비</h5>
            <span class="item__delivery--price">3000원(10만원 구매 이상 시 무료)</span>
                <div class="slide__btns item__btns"></div> <br>
                <button class="btn btn--index btn--white">장바구니 추가</button>
            </form>
                <button th:if="${session.loginMember} != null"
                        th:memberNo="${session.loginMember.memberNo}"
                        th:itemNo="${itemDTO.itemNo}"
                        th:itemName="${itemDTO.itemName}"
                        th:itemPrice="${itemDTO.itemPrice}"
                        th:onclick="checkItemStockPurchase(this.getAttribute('memberNo'), this.getAttribute('itemNo'), this.getAttribute('itemName'), this.getAttribute('itemPrice'))"
                        class="btn btn--index btn--black"
                        th:text="구매하기"></button>
                <button th:unless="${session.loginMember} != null"
                        th:itemNo="${itemDTO.itemNo}"
                        th:itemName="${itemDTO.itemName}"
                        th:itemPrice="${itemDTO.itemPrice}"
                        th:onclick="checkItemStockPurchase(this.getAttribute('itemNo'), this.getAttribute('itemName'), this.getAttribute('itemPrice'))"
                        class="btn btn--index btn--black"
                        th:text="구매하기"></button>
            </div>
            <div th:if="${ifAdded} != null">
                <a th:if="${ifAdded} == false" th:text="'이미 장바구니에 담긴 상품입니다.'"></a>
            </div>
        </div>
    </section>
    <nav class ="item__nav-container">
        <ul class="item__navs">
            <li class="item__detail-link">상품 정보</li>
            <li class="item__qna-link">Q&A</li>
            <li class="item__review-link">리뷰</li>
        </ul>
    </nav>
    <section class="item-detail__container" id="item__detail">
        <!-- 상품 상세 사진-->
        <div class="item-imgs__container">
            <img class="item__img item__img--detail" th:if="${itemPhotosDTO.itemImg1} != null" th:src="@{/images/itemImages/__${itemDTO.itemNo}__/__${itemPhotosDTO.itemImg1}__}">
            <img class="item__img item__img--detail" th:if="${itemPhotosDTO.itemImg2} != null" th:src="@{/images/itemImages/__${itemDTO.itemNo}__/__${itemPhotosDTO.itemImg2}__}">
            <img class="item__img item__img--detail" th:if="${itemPhotosDTO.itemImg3} != null" th:src="@{/images/itemImages/__${itemDTO.itemNo}__/__${itemPhotosDTO.itemImg3}__}">
        </div>
        <!-- 상품 정보-->
        <p class="item__detail" th:text="${itemDTO.itemDetail}">

        </p>

        <h3>배송안내</h3>
        <p class="item__text">
            배송 업체 ㅣ CJ 대한통운 (1588-1255)<br>
            배송 지역 ㅣ 대한민국 전지역<br>
            배송 비용 ㅣ 3,000원 / 구매 금액 100,000원 이상 시 무료배송<br>
            배송 기간 ㅣ 주말·공휴일 제외 2일 ~ 5일<br><br><br>


            유의사항<br>

            - 주문폭주 및 공급 사정으로 인하여 지연 및 품절이 발생될 수 있습니다.<br>
            - 기본 배송기간 이상 소요되는 상품이거나, 품절 상품은 개별 연락을 드립니다.<br>
        </p>

        <h3>교환 및 환불 문의</h3>
        <p class="item__text">
            신청 방법 ㅣ 상품을 수령하신 날로부터 7일 이내로 콜센터(1234-1234) 및 홈페이지 Q&A 게시판을 통해 접수<br>
            배송 비용 ㅣ 단순 변심은 왕복 택배비 6,000원 (반품 상품을 제외한 나머지 금액이 100,000원 이상일 경우에는 3,000원)<br>
            반품 주소 ㅣ 서울특별시 종로구 , ㅇㅇㅇ ㅇㅇㅇ<br><br><br>

            유의 사항<br><br>

            - 단순 변심의 경우 수령일로부터 7일 이내까지 교환∙반품이 가능합니다. (교환/반품비 고객님 부담)<br>
            - 상품 하자, 오배송의 경우 수령일로부터 7일 이내 고객센터 접수 후 교환∙반품이 가능합니다. (교환/반품비 무료)<br>
            - 제품 특성상 단순 변심, 부주의에 의한 제품 손상 및 파손, 사용 및 개봉한 경우 교환/반품이 불가합니다.<br>
            - 네이버페이 결제 주문은 동일 상품 / 동일 옵션 교환만 가능합니다.<br><br><br><br>
        </p>
    </section>
    <section class="item-detail__container" id="item__qna">
        <div class="qna__more">
            <h1 class="section__title">Q & A</h1>
            <a th:href="@{|/items/${itemNo}/qna|}">더보기</a>
        </div>
        <table class="table__client">
            <thead>
            <tr>
                <th class="table__no">번호</th>
                <th class="table__category">구분</th>
                <th>내용</th>
                <th class="table__user">작성자</th>
                <th class="table__regtime">등록일자</th>
                <th class="table__answer">답변 여부</th>
            </tr>
            </thead>
            <tbody th:each="QnaDTO,itemQnaNo : ${qnaByItemNo}" th:if="${itemQnaNo.index < 10}">
            <tr class="table__row" th:onclick="|window.open('/items/${QnaDTO.itemNo}/qna/${QnaDTO.qnaNo}', 'name', 'resizable=no,width=600,height=500'); return false;|">
                <td class="table__no" th:text="${itemQnaNo.count}"></td>
                <td class="table__category" th:text="${QnaDTO.qnaClassification}"></td>
                <td th:text="${QnaDTO.qnaTitle}"></td>
                <td class="table__user" th:text="${#strings.substring(QnaDTO.memberId, 0, #strings.length(QnaDTO.memberId) - 2)} + '***'"></td>
                <td class="table__regtime" th:text="${#dates.format(QnaDTO.qnaQuestionCreatedTime, 'yyyy-MM-dd')}"></td>
                <!-- 답변완료(td:if로 걸고 안되면 기존의 span으로!) -->
                <td class="table__answer">
                    <span th:if="${QnaDTO.qnaAnswer != null}" >답변완료</span>
                    <span th:unless="${QnaDTO.qnaAnswer != null}">답변대기</span>
                </td>
            </tr>
<!--            <tr class="table__row">-->
<!--                <td class="table__no">2</td>-->
<!--                &lt;!&ndash; 답변완료(td:if로 걸고 안되면 기존의 span으로!) &ndash;&gt;-->
<!--                <td class="table__category">상품 상세문의</td>-->
<!--                <td>옷의 재질은 뭐인가요?</td>-->
<!--                <td class="table__user">user****</td>-->
<!--                <td class="table__regtime">2023-05-12</td>-->
<!--                <td class="table__answer">답변 대기</td>-->
<!--            </tr>-->
<!--            <tr class="table__row">-->
<!--                <td class="table__no">3</td>-->
<!--                &lt;!&ndash; 답변완료(td:if로 걸고 안되면 기존의 span으로!) &ndash;&gt;-->
<!--                <td class="table__category">상품 상세문의</td>-->
<!--                <td>옷의 재질은 뭐인가요?</td>-->
<!--                <td class="table__user">user****</td>-->
<!--                <td class="table__regtime">2023-05-12</td>-->
<!--                <td class="table__answer">답변 대기</td>-->
<!--            </tr>-->
<!--            <tr class="table__row">-->
<!--                <td class="table__no">4</td>-->
<!--                &lt;!&ndash; 답변완료(td:if로 걸고 안되면 기존의 span으로!) &ndash;&gt;-->
<!--                <td class="table__category">상품 상세문의</td>-->
<!--                <td>옷의 재질은 뭐인가요?</td>-->
<!--                <td class="table__user">user****</td>-->
<!--                <td class="table__regtime">2023-05-12</td>-->
<!--                <td class="table__answer">답변 대기</td>-->
<!--            </tr>-->
<!--            <tr class="table__row">-->
<!--                <td class="table__no">5</td>-->
<!--                &lt;!&ndash; 답변완료(td:if로 걸고 안되면 기존의 span으로!) &ndash;&gt;-->
<!--                <td class="table__category">상품 상세문의</td>-->
<!--                <td>옷의 재질은 뭐인가요?</td>-->
<!--                <td class="table__user">user****</td>-->
<!--                <td class="table__regtime">2023-05-12</td>-->
<!--                <td class="table__answer">답변 대기</td>-->
<!--            </tr>-->
<!--            <tr class="table__row">-->
<!--                <td class="table__no">6</td>-->
<!--                &lt;!&ndash; 답변완료(td:if로 걸고 안되면 기존의 span으로!) &ndash;&gt;-->
<!--                <td class="table__category">상품 상세문의</td>-->
<!--                <td>옷의 재질은 뭐인가요?</td>-->
<!--                <td class="table__user">user****</td>-->
<!--                <td class="table__regtime">2023-05-12</td>-->
<!--                <td class="table__answer">답변 대기</td>-->
<!--            </tr>-->
<!--            <tr class="table__row">-->
<!--                <td class="table__no">7</td>-->
<!--                &lt;!&ndash; 답변완료(td:if로 걸고 안되면 기존의 span으로!) &ndash;&gt;-->
<!--                <td class="table__category">상품 상세문의</td>-->
<!--                <td>옷의 재질은 뭐인가요?</td>-->
<!--                <td class="table__user">user****</td>-->
<!--                <td class="table__regtime">2023-05-12</td>-->
<!--                <td class="table__answer">답변 대기</td>-->
<!--            </tr>-->
<!--            <tr class="table__row">-->
<!--                <td class="table__no">8</td>-->
<!--                &lt;!&ndash; 답변완료(td:if로 걸고 안되면 기존의 span으로!) &ndash;&gt;-->
<!--                <td class="table__category">상품 상세문의</td>-->
<!--                <td>옷의 재질은 뭐인가요?</td>-->
<!--                <td class="table__user">user****</td>-->
<!--                <td class="table__regtime">2023-05-12</td>-->
<!--                <td class="table__answer">답변 대기</td>-->
<!--            </tr>-->
<!--            <tr class="table__row">-->
<!--                <td class="table__no">9</td>-->
<!--                &lt;!&ndash; 답변완료(td:if로 걸고 안되면 기존의 span으로!) &ndash;&gt;-->
<!--                <td class="table__category">상품 상세문의</td>-->
<!--                <td>옷의 재질은 뭐인가요?</td>-->
<!--                <td class="table__user">user****</td>-->
<!--                <td class="table__regtime">2023-05-12</td>-->
<!--                <td class="table__answer">답변 대기</td>-->
<!--            </tr>-->
<!--            <tr class="table__row">-->
<!--                <td class="table__no">10</td>-->
<!--                &lt;!&ndash; 답변완료(td:if로 걸고 안되면 기존의 span으로!) &ndash;&gt;-->
<!--                <td class="table__category">상품 상세문의</td>-->
<!--                <td>옷의 재질은 뭐인가요?</td>-->
<!--                <td class="table__user">user****</td>-->
<!--                <td class="table__regtime">2023-05-12</td>-->
<!--                <td class="table__answer">답변 대기</td>-->
<!--            </tr>-->
        </table>
        <div class="qna__form">
            <button class="btn btn--mi btn--white btn--qna" th:if="${session.loginMember != null}" th:onclick="|window.open('/qna/${session.loginMember.getMemberNo()}/${itemNo}', 'name', 'resizable=no,width=380,height=600'); return false;|">질문 등록</button>
            <button class="btn btn--mi btn--white btn--qna" th:unless="${session.loginMember != null}" th:onclick="|window.location.href='/members/login'|">
                질문 등록
            </button>
        </div>
    </section>
    <section class="item-detail__container" id="item__reviews">
        <h1 class="section__title">리뷰</h1>
        <div class="reviews__container">
            <div class="review">
                <span class="review__header">회원 아이디</span> <!--th:text 멤버 아이디-->
                <span class="review__header">사이즈:M</span> <!--th:text 구입 상품 사이즈-->
                <span class="review__header">★4</span> <!--th:text 구입 상품 별점-->
                                                            <!--th:text 리뷰 내용 -->
                <p>너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호</p>
            </div>
        </div>
        <div class="reviews__container">
            <div class="review">
                <span class="review__header">회원 아이디</span> <!--th:text 멤버 아이디-->
                <span class="review__header">사이즈:M</span> <!--th:text 구입 상품 사이즈-->
                <span class="review__header">★4</span> <!--th:text 구입 상품 별점-->
                <!--th:text 리뷰 내용 -->
                <p>너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호</p>
            </div>
        </div>
        <div class="reviews__container">
            <div class="review">
                <span class="review__header">회원 아이디</span> <!--th:text 멤버 아이디-->
                <span class="review__header">사이즈:M</span> <!--th:text 구입 상품 사이즈-->
                <span class="review__header">★4</span> <!--th:text 구입 상품 별점-->
                <!--th:text 리뷰 내용 -->
                <p>너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호</p>
            </div>
        </div>
        <div class="reviews__container">
            <div class="review">
                <span class="review__header">회원 아이디</span> <!--th:text 멤버 아이디-->
                <span class="review__header">사이즈:M</span> <!--th:text 구입 상품 사이즈-->
                <span class="review__header">★4</span> <!--th:text 구입 상품 별점-->
                <!--th:text 리뷰 내용 -->
                <p>너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호</p>
            </div>
        </div>
        <div class="reviews__container">
            <div class="review">
                <span class="review__header">회원 아이디</span> <!--th:text 멤버 아이디-->
                <span class="review__header">사이즈:M</span> <!--th:text 구입 상품 사이즈-->
                <span class="review__header">★4</span> <!--th:text 구입 상품 별점-->
                <!--th:text 리뷰 내용 -->
                <p>너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호</p>
            </div>
        </div>
        <div class="reviews__container">
            <div class="review">
                <span class="review__header">회원 아이디</span> <!--th:text 멤버 아이디-->
                <span class="review__header">사이즈:M</span> <!--th:text 구입 상품 사이즈-->
                <span class="review__header">★4</span> <!--th:text 구입 상품 별점-->
                <!--th:text 리뷰 내용 -->
                <p>너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호</p>
            </div>
        </div>
        <div class="reviews__container">
            <div class="review">
                <span class="review__header">회원 아이디</span> <!--th:text 멤버 아이디-->
                <span class="review__header">사이즈:M</span> <!--th:text 구입 상품 사이즈-->
                <span class="review__header">★4</span> <!--th:text 구입 상품 별점-->
                <!--th:text 리뷰 내용 -->
                <p>너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호</p>
            </div>
        </div>
        <div class="reviews__container">
            <div class="review">
                <span class="review__header">회원 아이디</span> <!--th:text 멤버 아이디-->
                <span class="review__header">사이즈:M</span> <!--th:text 구입 상품 사이즈-->
                <span class="review__header">★4</span> <!--th:text 구입 상품 별점-->
                <!--th:text 리뷰 내용 -->
                <p>너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호</p>
            </div>
        </div>
        <div class="reviews__container">
            <div class="review">
                <span class="review__header">회원 아이디</span> <!--th:text 멤버 아이디-->
                <span class="review__header">사이즈:M</span> <!--th:text 구입 상품 사이즈-->
                <span class="review__header">★4</span> <!--th:text 구입 상품 별점-->
                <!--th:text 리뷰 내용 -->
                <p>너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호</p>
            </div>
        </div>
        <div class="reviews__container">
            <div class="review">
                <span class="review__header">회원 아이디</span> <!--th:text 멤버 아이디-->
                <span class="review__header">사이즈:M</span> <!--th:text 구입 상품 사이즈-->
                <span class="review__header">★4</span> <!--th:text 구입 상품 별점-->
                <!--th:text 리뷰 내용 -->
                <p>너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호너무 좋아요 호호호</p>
            </div>
        </div>
        <div class="items__page review__page">
            <span>이전</span>
            <a class="now__page">1</a>
            <a>2</a>
            <a>3</a>
            <a>4</a>
            <a>5</a>
            <a>6</a>
            <a>7</a>
            <a>8</a>
            <a>9</a>
            <a>10</a>
            <span>다음</span>
        </div>
    </section>
    <aside class="item__aside">
        <button class="aside__info btn--aside">상품 정보</button>
        <button class="aside__detail btn--aside">상품 상세</button>
        <button class="aside__qna btn--aside">Q & A</button>
        <button class="aside__review btn--aside">리뷰</button>
    </aside>
</main>
</body>
</html>