<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:admin-head>
    <div
      th:remove="tag"
      th:replace="~{/fragments/admin-head :: admin-head} "
    ></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-item.css" />
  </head>
  <body>
    <header
      th:replace="~{/fragments/admin-login-header :: admin-login-header}"
    ></header>

    <aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}"></aside>

    <main>
      <div class="main">
        <div class="admin_item">상품 조회</div>
        <div class="admin_item_sale">On sale | Not on sale</div>
        <div class="admin_item_category">top | bottom | outer</div>
        <div class="admin_item_search">
          <form action="/items/admin" method="get">
            <select name="category">
              <option value="member_id">상품 번호</option>
              <option value="member_address_basic" selected>상품명</option>
            </select>
            <input type="text" name="searchKeyword"/>
            <button>검색</button>
          </form>
        </div>

        <!-- table Ex-->
        <table>
          <thead>
            <tr>
              <th>상품 번호</th>
              <th>상품 이름</th>
              <th>상품 가격</th>
              <th>상품 재고</th>
              <th>상품 카테고리</th>
              <th>판매 여부</th>
              <th>수정</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item: ${itemDTOList}">
              <td th:text="${item.itemNo}"></td>
              <td th:text="${item.itemName}"></td>
              <td th:text="${item.itemPrice}"></td>

              <td th:if="${item.itemStockDTOList} != null or ${item.itemStockDTOList.size()} > 0" th:text="${item.itemStockDTOList[0].itemSize} + ' ' + ${item.itemStockDTOList[0].itemStockValue} + ' / ' + ${item.itemStockDTOList[1].itemSize} + ' ' + ${item.itemStockDTOList[1].itemStockValue} + ' / ' + ${item.itemStockDTOList[2].itemSize} + ' ' + ${item.itemStockDTOList[2].itemStockValue}">


              </td>
              <td th:text="${item.itemCategory}"></td>
              <td th:if="${item.itemOnsale == 1}">On sale</td>
              <td th:unless="${item.itemOnsale == 1}">Not on sale</td>
              <td><a th:href="@{/items/admin/{itemNo}(itemNo=${item.itemNo})}">수정</a></td>
              <td><a th:href="@{/items/admin/{itemNo}/delete(itemNo=${item.itemNo})}">삭제</a></td>
            </tr>
          </tbody>
        </table>

        <div class="admin_item_page">
          <span th:if="${pageSettings.page &lt;= 1}">이전</span>
          <span th:unless="${pageSettings.page &lt;= 1}">
        <a th:href="@{/items/admin(page=${pageSettings.page - 1})}">이전</a>
    </span>

          <span th:each="i: ${#numbers.sequence(pageSettings.startPage, pageSettings.endPage)}">
        <span th:if="${i == pageSettings.page}" th:text="${i}" th:class="now__page"></span>
        <a th:if="${i != pageSettings.page}"
           th:href="@{/items/admin(page=${i})}"
           th:text="${i}"></a>
    </span>

          <span th:if="${pageSettings.page >= pageSettings.totalPage}">다음</span>
          <a th:unless="${pageSettings.page >= pageSettings.totalPage}"
             th:href="@{/items/admin(page=${pageSettings.page + 1})}">다음</a>
      </div>
      <!--main div-->
    </main>
  </body>
</html>
