<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:admin-head>
    <div
      th:remove="tag"
      th:replace="~{/fragments/admin-head :: admin-head} "
    ></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-item.css" />
  </head>
  <body>
    <header
      th:replace="~{/fragments/admin-login-header :: admin-login-header}"
    ></header>

    <aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}"></aside>

    <main>
      <div class="main">
        <div class="admin_item">상품 조회</div>
        <div class="admin_item_sale">onsale | unsale</div>
        <div class="admin_item_category">top | bottom | outer</div>
        <div class="admin_item_search">
          <select name="category">
            <option value="member_id">상품 번호</option>

            <option value="member_address_basic" selected>상품명</option>
          </select>
          <input type="text" />
          <button>검색</button>
        </div>

        <!-- table Ex-->
        <table>
          <thead>
            <tr>
              <th>상품 번호</th>
              <th>상품 이름</th>
              <th>상품 가격</th>
              <th>상품 재고</th>
              <th>상품 카테고리</th>
              <th>판매 여부</th>
              <th>수정</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item: ${itemDTOList}">
              <td th:text="${item.itemNo}"></td>
              <td th:text="${item.itemName}"></td>
              <td th:text="${item.itemPrice}"></td>
              <td>
                <ul>
                  <li th:each="itemStock: ${item.itemStockDTOList}" th:text="${itemStock.itemSize} ${itemStock.itemStockValue}"></li>
                </ul>
              </td>
              <td th:text="${item.itemCategory}"></td>
              <td th:text="${item.itemOnsale}"></td>
              <td>수정</td>
              <td><a th:href="@{/items/admin/{itemNo}/delete(itemNo=${item.itemNo})}">삭제</a></td>
            </tr>
          </tbody>
        </table>

        <div class="admin_item_page"><a href="1">1</a> <a href="2">2</a></div>
      </div>
      <!--main div-->
    </main>
  </body>
</html>
