<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:admin-head>
    <div
      th:remove="tag"
      th:replace="~{/fragments/admin-head :: admin-head} "
    ></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-item-detail.css" />
  </head>
  <body>
    <header
      th:replace="~{/fragments/admin-login-header :: admin-login-header}"
    ></header>

    <aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}"></aside>

    <main>
      <div class="main">

        <div class="admin_item_detail">상품 상세</div>

        <form th:action="@{/items/admin/{itemNo}/update(itemNo=${itemDTO.itemNo})}" method="post" enctype="multipart/form-data">


          <div class="item_detail_container">

            <div class="top">
              <div>
                <span th:text="'no.' + ${itemDTO.itemNo}"></span>
                <span>
                  <select name="itemCategory" th:value="${itemDTO.itemCategory}">
                    <option value="outer" th:selected="${itemDTO.itemCategory == 'outer'}">outer</option>
                    <option value="inner" th:selected="${itemDTO.itemCategory == 'inner'}">inner</option>
                    <option value="pants" th:selected="${itemDTO.itemCategory == 'pants'}">pants</option>
                  </select>
                </span>
              </div>

              <span>상품명: <input name="itemName" th:value="${itemDTO.itemName}"></span>
              <span th:if="${itemDTO.itemGrade != null}" th:text="'평점: ' + ${itemDTO.itemGrade}"></span>
              <span th:unless="${itemDTO.itemGrade != null}" th:text="'평점: 없음'"></span>
            </div>

            <div class="middle">
              <div class="photo">

                <div class="thumb">
                  <img th:src="@{/images/itemImages/__${itemDTO.itemNo}__/thumb/__${itemPhotosDTO.itemThumb}__}"/>
                </div>

                <div class="img__container">
                  <div class="img__123">
                    <img th:if="${itemPhotosDTO.itemImg1} != null" th:src="@{/images/itemImages/__${itemDTO.itemNo}__/__${itemPhotosDTO.itemImg1}__}"/>
                    <img th:if="${itemPhotosDTO.itemImg2} != null" th:src="@{/images/itemImages/__${itemDTO.itemNo}__/__${itemPhotosDTO.itemImg2}__}"/>
                    <img th:if="${itemPhotosDTO.itemImg3} != null" th:src="@{/images/itemImages/__${itemDTO.itemNo}__/__${itemPhotosDTO.itemImg3}__}"/>
                  </div>
                 </div>

              </div>

              <div class="contents">
                <div class="contents_info">

                  <table>
                    <tr>
                      <td>S</td>
                      <td><input name="itemStockNo1" th:value="${itemStockDTOList[0].itemStockNo}" type="hidden">
                        <input name="itemStockValue1" th:value="${itemStockDTOList[0].itemStockValue}"></td>
                    </tr>
                    <tr>
                      <td>M</td>
                      <td><input name="itemStockNo2" th:value="${itemStockDTOList[1].itemStockNo}" type="hidden">
                        <input name="itemStockValue2" th:value="${itemStockDTOList[1].itemStockValue}"></td>
                    </tr>
                    <tr>
                      <td>L</td>
                      <td><input name="itemStockNo3" th:value="${itemStockDTOList[2].itemStockNo}" type="hidden">
                        <input name="itemStockValue3" th:value="${itemStockDTOList[2].itemStockValue}"></td>
                    </tr>
                  </table>

                  <div class="image">
                    <div>thumbnail: <a th:text="${itemPhotosDTO.itemThumb}"></a></div>
                    <span th:if="${itemPhotosDTO.itemImg1} != null" th:text="'image1: ' + ${itemPhotosDTO.itemImg1}"></span>
                    <br>
                    <span th:if="${itemPhotosDTO.itemImg2} != null" th:text="'image2: ' + ${itemPhotosDTO.itemImg2}"></span>
                    <br>
                    <span th:if="${itemPhotosDTO.itemImg3} != null" th:text="'image3: ' + ${itemPhotosDTO.itemImg3}"></span>
                    <br>
                  </div>

                  <div class="price">
                    가격: <input name="itemPrice" th:value="${itemDTO.itemPrice}">원
                  </div>

                  <div class="detail_info">
                    상세 내용<br>
                    <textarea name="itemDetail" th:text="${itemDTO.itemDetail}"></textarea>
                  </div>

                  </div>
                </div>

            </div>

            <div class="item_btn">
              <button>수정</button>
        </form>
                <form th:action="@{/items/admin/{itemNo}/delete(itemNo=${itemDTO.itemNo})}" method="get">
                  <button class="btn--drop">삭제</button>
                </form>
            </div>
          </div>

      </div>
      <!--main div-->
    </main>
  </body>
</html>
