<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div
      th:remove="tag"
      th:replace="~{/fragments/admin-head :: admin-head} "
    ></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-item-add.css" />
  </head>
  <body>
    <header
      th:replace="~{/fragments/admin-login-header :: admin-login-header}"
    ></header>

    <aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}"></aside>

    <main>
      <div class="main">
        <div class="admin_item_add">상품 등록</div>

        <div class="admin_item_container">
          <div>
            상품명
            <input type="text" class="admin_item_name_input" />
          </div>

          <div>
            <input type="file" name="" class="admin_item_thumb" />
            <select name="sales_status">
              <option value="onsale">onsale</option>
              <option value="unsale">unsale</option>
            </select>
            <select name="item_category">
              <option value="outer">outer</option>
              <option value="top">top</option>
              <option value="bottom">bottom</option>
              <option value="accessory">accessary</option>
            </select>
          </div>

          <div>
            <input type="file" name="" class="admin_item_image" />
            <input type="file" name="" class="admin_item_image" />
            <input type="file" name="" class="admin_item_image" />
          </div>

          <div>
            <select name="item_size">
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
            </select>
            <input type="number" name="item_stock" />
            금액: <input type="text" />
          </div>

          <div>
            <textarea name=""></textarea>
          </div>
          <!-- container-->
        </div>
        <div class="btn_div"><button>등록</button></div>
      </div>
      <!--main div-->
    </main>
  </body>
</html>
