<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:admin-head>
    <div
      th:remove="tag"
      th:replace="~{/fragments/admin-head :: admin-head} "
    ></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-item.css" />
  </head>
  <body>
    <header
      th:replace="~{/fragments/admin-login-header :: admin-login-header}"
    ></header>

    <aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}"></aside>

    <main>
      <div class="main">
        <div class="admin_item">상품 조회</div>
        <div class="admin_item_sale">onsale | unsale</div>
        <div class="admin_item_category">top | bottom | outer | accessary</div>
        <div class="admin_item_search">
          <select name="category">
            <option value="member_id">상품 번호</option>

            <option value="member_address_basic" selected>상품명</option>
          </select>
          <input type="text" />
          <button>검색</button>
        </div>

        <!-- table Ex-->
        <table>
          <thead>
            <tr>
              <th>상품 번호</th>
              <th>상품 이름</th>
              <th>상품 가격</th>
              <th>상품 재고</th>
              <th>상품 설명</th>
              <th>판매</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
            <tr>
              <td>1</td>
              <td>빨간머리 앤이 버린 빨간 옷</td>
              <td>50000</td>
              <td>S10 / M 12 / L 9</td>
              <td>성냥 팔이 소녀의 망토를 뺏어서 만들었다.</td>
              <td>sale</td>
              <td>수정</td>
              <td><a href="www.naver.com">탈퇴</a></td>
            </tr>
          </tbody>
        </table>

        <div class="admin_item_page"><a href="1">1</a> <a href="2">2</a></div>
      </div>
      <!--main div-->
    </main>
  </body>
</html>
