<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:admin-head>
    <div
      th:remove="tag"
      th:replace="~{/fragments/admin-head :: admin-head} "
    ></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-item-detail.css" />
  </head>
  <body>
    <header
      th:replace="~{/fragments/admin-login-header :: admin-login-header}"
    ></header>

    <aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}"></aside>

    <main>
      <div class="main">
        <div class="admin_item_detail">상품 상세</div>

        <div class="item_detail_container">
          <div class="top">
            <div>
              <span>no.1</span>
              <span>top</span>
              <span>onsale</span>
            </div>
            <div>상품명: 티셔츠</div>
          </div>

          <div class="middle">
            <div class="photo"></div>

            <div class="contents">
              <div class="contents_info">
                <div class="size_stock">
                  <span>S 10</span>
                  <span>M 10</span>
                  <span>L 10</span>
                </div>

                <div class="image">
                  <div>thumbnail: asdkmlasdmlwq.png</div>
                  <p></p>
                  <div>image1: asdkmlasdmlwqasdsadasdsad.png</div>
                  <div>image2: asdkmlasdmlwqasdsadasdsad.png</div>
                  <div>image3: asdkmlasdmlwqasdsadasdsad.png</div>
                </div>

                <div class="detail_info">
                  상세 내용: 성냥팔이 소녀의 망토를 뺏어서 만든 옷으로 이뻐서
                  뺏어 왔다.
                </div>

                <div class="price">가격: 1,000,000원</div>
              </div>
            </div>
          </div>

          <div class="item_btn">
            <button>수정</button> <button>삭제</button>
          </div>
        </div>
      </div>
      <!--main div-->
    </main>
  </body>
</html>
