<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div
      th:remove="tag"
      th:replace="~{/fragments/admin-head :: admin-head} "
    ></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-item-add.css" />
  </head>
  <body>
    <header
      th:replace="~{/fragments/admin-login-header :: admin-login-header}"
    ></header>

    <aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}"></aside>

    <main>
      <div class="main">
        <div class="admin_item_add">상품 등록</div>
        <form action="/items/admin/add" method="post">
        <div class="admin_item_container">
          <div>
            상품명
            <input type="text" name="itemName" class="admin_item_name_input" />
          </div>

          <div>
            <input type="file" name="itemThumb" class="admin_item_thumb" />
            <select name="itemOnsale">
              <option value="1">On sale</option>
              <option value="0">Not on sale</option>
            </select>
            <select name="itemCategory">
              <option value="outer">outer</option>
              <option value="top">top</option>
              <option value="bottom">bottom</option>
            </select>
          </div>

          <div>
            <input type="file" name="itemImg1" class="admin_item_image" />
            <input type="file" name="itemImg2" class="admin_item_image" />
            <input type="file" name="itemImg3" class="admin_item_image" />
          </div>

          <div>
<!--            <select name="itemSize">-->
<!--              <option value="S">S</option>-->
<!--              <option value="M">M</option>-->
<!--              <option value="L">L</option>-->
<!--            </select>-->
            S<input type="hidden" name="itemSize1" value="S">
            <input type="number" name="itemStockValue1" />
            M<input type="hidden" name="itemSize2" value="M">
            <input type="number" name="itemStockValue2" />
            L<input type="hidden" name="itemSize3" value="L">
            <input type="number" name="itemStockValue3" />
            <br>
            금액: <input type="text" name="itemPrice"/>
          </div>

          <div>
            <textarea name="itemDetail"></textarea>
          </div>
          <!-- container-->
        </div>
        <div class="btn_div"><button>등록</button></div>

        </form>
      </div>
      <!--main div-->
    </main>
  </body>
</html>
