.main__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__logo{
    margin:6rem 0 1rem 0;
    width: 9rem;
    height: 7rem;
}

.main__title{
    margin:6rem 0 1.5rem 0;
    font-weight: 700;
}

.label{
    margin-bottom: 0.5rem;
}
.label__title{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}
.label__error-container{
    height: 1rem;
}
.label__error{
    color: var(--color-error);
    font-size: 0.75rem;
    font-weight: 500;
}
.input{
    width: 23rem;
    height: 3rem;
    padding-inline-start: 1rem;
    border: solid 1px;
    border-radius: 3px;
    font-size: 1rem;
}

.input--lg{
    width: 26rem;
}

.input--mi{
    width: 19.5rem;
}

.input--sm{
    width: 17rem;
}

.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    border: 1px solid var(--color-light-gray);
    border-radius: 5px;
    line-height: 3rem;
    text-align: center;
    font-weight:bold;
    font-size:1rem;
}
.select input[type=radio]+label{
    background-color: var(--color-primary);
    color: var(--color-text);
}
.select input[type=radio]:checked+label{
    background-color: var(--color-accent);
    color: var(--color-primary);
}
.btn{
    display: block;
    width: 23rem;
    height: 2.75rem;
    margin: 0.5rem 0 1rem 0;
    font-size: 1.125rem;
    font-weight: bold;
    border: solid black 1px;
    border-radius: 3px;
}

.btn--lg{
    width: 26rem;
}

.btn--mi{
    margin:0;
    display: inline;
    width: 6rem;
    font-size: 0.75rem;
    border-radius: 10px;
}

.btn--xs{
    margin:0;
    display: inline;
    width: 2.5rem;
    height: 1.5rem;
    font-size: 0.6rem;
    border-radius: 10px;
}


.btn--black{
    background-color: var(--color-text);
    color: var(--color-accent);
}
.btn--white{
    background-color: var(--color-primary);
    color: var(--color-text);
}

.info__nav{
    width: 23rem;
    font-size: 1rem;
}

.info__links{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.now__page{
    color: var(--color-accent);
}

.item__card{
    height: 30rem;
    text-align: center;
}
.item__card-img{
    display: block;
    width: 100%;
    height: 80%;
    object-fit: fill;
}
.item__card-name, .item__card-price{
    margin: 0.5rem 0;
    font-weight: 400;
}
.item__card-name--rank{
    margin:2rem 0;
}
.item__card-price{
    color: var(--color-primary-variant);
}
.item__container{
    display: flex;
    justify-content: space-between;
}

.radio__container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin:0 0 1rem 0;
}
.after--logo{
    margin-top: 1rem;
}

#display2{
    display: none;
}