footer{
    display: flex;
    flex-direction: column;
    padding: 0 15rem;
}
.footer__infos-logo{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
}
.footer__info{
    display: flex;
    gap:2rem
}

.footer__info h4{
    margin-bottom: 0.75rem;
}
.footer__info span, .footer__info a{
    display: block;
    font-size: 0.75rem;
}

.footer__logo{
    margin-right: 1rem;
}
.footer__logo-img{
    width: 7.5rem;
}
.footer__logo-title{
    text-align: center;
}
.footer__copyright-sns{
    display: flex;
    justify-content: space-between;
    padding: 4rem 0 6rem 0;
    align-items: end;
}
.footer__sns{
    width: 3rem;
    margin-left: 1.5rem;
}