@import "../base.css";

footer {
    display: flex;
    width: 100%;
    padding: 0 15rem;
    box-sizing: border-box;
    bottom:0;
    position: relative;
}

.A {
    width: 47.5%;
    padding-right: 2.5%;
    margin-top: 1%;
}

.B {
    width: 47.5%;
    padding-left: 2.5%;
    text-align: right;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1%;
}

.a {
    display: flex;
    font-size: 0.75rem;
}

.a div {
    margin-right: 10%;
}

.a span {
    font-size: 0.9rem;
    font-weight: 600;
}

.b {
    margin: 2% 0;
    font-weight: 600;
}

.perionLogo {
    width: 9rem;
    height: 7rem;
}

.logo {
    width: 9rem;
    text-align: center;
    position:absolute;
    right: 15rem;
}

.logo p {
    margin: 0;
}

.sns {
    position:absolute;
    right: 15rem;
    bottom: 3rem;
}
.sns img {
    width: 40px;
    margin-top: 40px;
    margin-left: 20px;
}