header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    height: 3.4375rem;
    padding: 0 15rem;
    background-color: var(--color-primary);
    box-shadow: rgba(0, 0, 0,0.24) 0px 3px 8px;
}
.header__logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.header__nav{
    font-size: 0.75rem;
}
.header__nav ul{
    display:flex;
    font-weight:600;
    gap:1.75rem;
    color: var(--color-primary);
}
