header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    height: 3.4375rem;
    padding: 0 15rem;
    background-color: var(--color-primary);
    box-shadow: rgba(0, 0, 0,0.24) 0 3px 8px;
    z-index:10;
}
.header__logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.header__nav{
    font-size: 0.75rem;
}
.header__lists{
    display:flex;
    font-weight:600;
    gap:1.75rem;
    color: var(--color-primary);
}
.header__list{
    padding: 2rem 0;
}

.nav-shop__menus, .nav-search__menus{
    display: none;
}

.header__lists .header__nav-shop:hover .nav-shop__menus{
    display: block;
}

.nav-shop__menus, .nav-search__menus {
    position: absolute;
    top: 100%;
}

.nav-shop__menus{
    width: 4rem;
    background-color: var(--color-primary);
    color: var(--color-text);
}

.nav-shop__menu{
    padding: 0.3rem 0.1rem;
    transition: all 100ms ease-in;
}

.nav-shop__menu--title{
    color: inherit;
    padding-left: 0.3rem;
}

.nav-shop__menu:hover{
    background-color: var(--color-text);
    color: var(--color-accent);
}

.header__search{
    padding-inline-start: 0.3rem;
    transition: all 200ms ease-in;
}

.header__search:focus{
    background-color: var(--color-accent);
    color: var(--color-primary);
}

.header__search::placeholder:focus{
    opacity: 0;
}

.active{
    display: block;
}

