.section__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.section__title{
    margin:6rem 0 1.5rem 0;
    font-weight: 600;
    font-size: 2rem;
}

.section__title--right{
    text-align: right;
    color: var(--color-primary);
}
.section--banner .section__title{
    margin:3rem 0 0.75rem 0;
}

.section{
    height: 50rem;
    padding: 0 15rem;
}
.section--banner{
    height: 25rem;
}

#access{
    background-color: var(--color-text);
}