body{
    background-color: #ffffff;
}
input[type=number]{
    margin-bottom: 0;
    margin-left: 8px;
    padding: 6px 8px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
}
.rating-wrap{
    padding: 8px 8px 8px 0;
    display: flex;
}
.rating {
    display: flex;
    align-items: center;
    position: relative;
}
.star {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}
.starcolor{
    fill: #ff8844;
}
.star:last-of-type {
    margin-right: 0;
}
.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
@supports (mix-blend-mode: color) {
    .overlay{
        mix-blend-mode: color;
        opacity: unset;
    }
}