.notice__container{
    padding: 0 15rem;
}
.table__client{
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin : 1rem 1rem;
    width: 100%;
}
.table__client th {
    padding: 0.5rem;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid var(--color-light-gray);
}
.table__client td {
    padding: 0.5rem;
    vertical-align: top;
    border-bottom: 1px solid var(--color-light-gray);
}
.table__no{
   width: 5rem;
}
.table__answer{
    width: 7rem;
}
.table__category{
    width: 7rem;
}
.table__regtime{
    width: 9rem;
}
.table__user{
    width: 9rem;
}
.table__order-status{
    width: 5.5rem;
}
.table__row{
    cursor: pointer;
}
.notice__detail{
    border-bottom: 1px solid var(--color-text);
    padding:0.5rem 0 0.5rem 0.5rem;
}
.notice__link{
    margin-top: 1rem;
}
.table--2{
    font-size: 0.75rem;
}
.table--2 td{
    vertical-align: middle;
}
.cart__imgbox{
    width: 5.5rem;
}
.cart__img{
    display:inline;
    width: 5rem;
    height:6rem;
}
.cart__checkbox{
    width: 3rem;
}
.cart__price{
    font-size: 0.75rem;
    width: 5rem;
}
.cart__btn{
    width: 5rem;
}
.cart__quantity{
    width: 5rem;
    margin: 0 auto;
}
.input--cart{
    width: 2.5rem;
}
.countbtns--cart{
    width: 3rem;
    height: 1.5rem;
}
.btn--cart{
    height: 1.25rem;
    border: 0;
    font-size: 0.5rem;
}
.order__hp{
    width:8rem;
}