<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:admin-head>
    <div
      th:remove="tag"
      th:replace="~{/fragments/admin-head :: admin-head} "
    ></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-notice-add.css" />
  </head>
  <body>
    <header
      th:replace="~{/fragments/admin-login-header :: admin-login-header}"
    ></header>

    <aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}"></aside>

    <main>
      <div class="main">
        <div class="admin_notice_add">공지사항 등록</div>

        <form class="notice_add_form" action="/notice/admin/add" method="post">
          <hr />
          <input name="adminNo" type="text" th:value="${session.loginAdmin.adminNo}"
          />
          <input
            name="noticeTitle"
            class="notice_title"
            type="text"
            maxlength="44"
            placeholder="제목"
          />
          <hr />
          <textarea
            class="notice_contents"
            name="noticeContent"
            rows="20"
            cols="20"
            maxlength="254"
          ></textarea>
          <hr />

          <button>등록</button>
        </form>

        <!--main div-->
      </div>
    </main>
  </body>
</html>
