<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:admin-head>
    <div th:remove="tag" th:replace="~{/fragments/admin-head :: admin-head} "></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-notice.css">
</head>
<body>
<header th:replace="~{/fragments/admin-login-header :: admin-login-header}">
</header>

<aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}">
</aside>

<main>
    <div class="main">
        <div class="admin_notice">공지사항</div>

        <div class="admin_notice_search">
            <select name="category">
                <option value="member_id">아이디</option>

                <option value="member_hp">전화번호</option>

                <option value="member_email">이메일</option>

                <option value="member_name">이름</option>

                <option value="member_address_basic">주소</option>
            </select>
            <input type="text"/>
            <button>검색</button>
        </div>

        <!-- table Ex-->
        <table>
            <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일자</th>
                <th>조회수</th>
                <th></th>
            </tr>
            </thead>
            <tbody th:each="noticeListDTO : ${noticeListDTOList}">
            <tr th:onclick="|location.href='@{|/notice/admin/${noticeListDTO.getNoticeNo()}|}'|">
                <td th:text="${noticeListDTO.noticeNo}"></td>
                <td th:text="${noticeListDTO.noticeTitle}"></td>
                <td name="writer">admin</td>
                <td th:text="${noticeListDTO.noticeCreatedTime}"></td>
                <td th:text="${noticeListDTO.noticeViewcount}"></td>
                <td name="noticeDelete"><a th:href="@{|/notice/admin/${noticeListDTO.getNoticeNo()}/delete|}">삭제</a></td>
            </tr>
            </tbody>
<!--            <div class="admin_member_page">-->
<!--                <span th:if="${pageSettings.page &lt;= 1}">이전</span>-->
<!--                <span th:unless="${pageSettings.page &lt;= 1}">-->
<!--            <a th:href="@{/members/admin(page=${pageSettings.page - 1})}">이전</a>-->
<!--          </span>-->

<!--                <span th:each="i : ${#numbers.sequence(pageSettings.startPage, pageSettings.endPage)}">-->
<!--            <span th:if="${i == pageSettings.page}" th:text="${i}" th:class="now__page"></span>-->
<!--            <a th:unless="${i == pageSettings.page}"-->
<!--               th:href="@{/members/admin(page=${i})}"-->
<!--               th:text="${i}"></a>-->
<!--          </span>-->

<!--                <span th:if="${pageSettings.page >= pageSettings.totalPage}">다음</span>-->
<!--                <a th:unless="${pageSettings.page >= pageSettings.totalPage}"-->
<!--                   th:href="@{/members/admin(page=${pageSettings.page + 1})}"-->
<!--                >다음</a-->
<!--                >-->
<!--            </div>-->
        </table>
        <form action="admin/add" method="get">
            <div class="notice_btn">
                <button>등록</button>
            </div>
        </form>
        <div class="admin_member_page"><a href="1">1</a> <a href="2">2</a></div>
    </div><!--main div-->
</main>


</body>
</html>