<!DOCTYPE html>
  <html lang="ko" xmlns:th="http://www.thymeleaf.org" >
  <head th:admin-head>
    <div th:remove="tag" th:replace="~{/fragments/admin-head :: admin-head} "></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/admins/admins-notice-modify.css" />
  </head>
  <body>
    <header th:replace="~{/fragments/admin-login-header :: admin-login-header}">
    </header>

    <aside th:replace="~{/fragments/admin-sidebar :: admin-sidebar}">
    </aside>

    <main>
      <div class="main">
        <div class="admin_notice_modify">공지사항 수정</div>

        <form class="notice_add_form" th:action="@{|/notice/admin/${noticeUpdateDTO.getNoticeNo()}/update|}" method="post">
          <hr />
          <div class="notice_elements">

            <span class="notice_no" th:text="${noticeUpdateDTO.getNoticeNo()}"></span>
              <!--span에서는 form으로 데이터전달을 안해주기때문에 input을 만들어서 test-->
              <!--<input name="noticeNo" th:value="${noticeUpdateDTO.getNoticeNo()}">-->
            <div class="notice_elements_right">
              <span th:text="${noticeUpdateDTO.getNoticeCreatedTime()}"></span>
              <span th:text="${noticeUpdateDTO.getNoticeViewcount()}"></span>
            </div>
          </div>
          <hr />
          <textarea
            th:text="${noticeUpdateDTO.getNoticeTitle()}"
            name="noticeTitle"
            class="notice_title"
            type="text"
            maxlength="44"
          />
          <hr />
          <textarea
            th:text="${noticeUpdateDTO.getNoticeContent()}"
            name="noticeContent"
            class="notice_contents"
            rows="20"
            cols="20"
            maxlength="254"
          ></textarea>
          <hr />

          <div class="notice_btn">
            <button>수정</button>
          </div>
        </form>
        <form th:action="@{|/notice/admin/${noticeUpdateDTO.getNoticeNo()}/delete|}" method="post">
          <div class="notice_btn">
            <button>삭제</button>
          </div>
        </form>

        <!--main div-->
      </div>
    </main>
  </body>
</html>
