  <!DOCTYPE html>
  <html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PERION Management</title>
    <link rel="icon" href="../../../static/images/spartan-helmet.svg" />

  <!--폰트-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&family=Sometype+Mono&display=swap" rel="stylesheet">
  <!--CSS-->
  <link rel="stylesheet" href="../../../static/css/pages/admins/admins-notice.css">
  </head>
  <body>
    <header>
    <a href="#" class="header__logo">PERION</a>
    <nav class="header__nav">
        <ul>
            <li><a href="#">쇼핑몰</a></li>
            <li><a href="#">로그아웃</a></li>
        </ul>
    </nav> 
    </header>

    <aside class="side-bar">
      <div class="margin"></div>
      <ul>
        <li>
          <a href="#">매출 조회</a>
        </li>
        <li>
          <a href="#">회원 조회</a>
        </li>
        <li>
          <a href="#">상품 조회</a>
        </li>
        <li>
          <a href="#">상품 등록</a>
        </li>
        <li>
          <a href="#">회원 주문 목록</a>
        </li>
        <li>
          <a href="#">비회원 주문 목록</a>
        </li>
        <li>
          <a href="#">공지사항</a>
        </li>
        <li>
          <a href="#">Q&A</a>
        </li>
        <li>
          <a href="#">Review</a>
        </li>
      </ul>

    <div class="side-bar__icon"><img src="../../../static/images/spartan-helmet-white.svg" alt="실패" /></div>
    </aside>
    
    <main>
      <div class="main">
        <div class="admin_notice">공지사항</div>

        <div class="admin_notice_search">
          <select name="category">
            <option value="member_id">아이디</option>

            <option value="member_hp">전화번호</option>

            <option value="member_email">이메일</option>

            <option value="member_name">이름</option>

            <option value="member_address_basic">주소</option>
          </select>
          <input type="text" />
          <button>검색</button>
        </div>

        <!-- table Ex-->
        <table>
          <thead>
            <tr>
              <th>No</th>
              <th>제목</th>
              <th>작성자</th>
              <th>작성일자</th>
              <th>조회수</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td name="noticeNo">1</td>
              <td name="noticeTitle">2024년 용띠의 해 이벤트 입니다아!!</td>
              <td name="notice">admin</td>
              <td name="noticeCreatedTime">2023-12-14</td>
              <td name="noticeViewCount">123</td>
              <td name="noticeDelete"><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>3</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>4</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>5</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>6</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>7</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>8</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>9</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>
            <tr>
              <td>10</td>
              <td>2024년 용띠의 해 이벤트 입니다아!!</td>
              <td>admin</td>
              <td>2023-12-14</td>
              <td>123</td>
              <td><a href="www.naver.com">삭제</a></td>
            </tr>

          </tbody>
        </table>

        <div class="notice_btn"><button>등록</button></div>

        <div class="admin_member_page"><a href="1">1</a> <a href="2">2</a></div>
      </div><!--main div-->
    </main>
   

  </body>
  </html>