<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PERION Management</title>
    <link rel="icon" href="../../../static/images/spartan-helmet.svg" />
    <link rel="stylesheet" href="../../../static/css/pages/admins/admins-notice-add.css" />
  </head>
  <body>
    <header>
      <a href="#" class="header__logo">PERION</a>
      <nav class="header__nav">
        <ul>
          <li><a href="#">쇼핑몰</a></li>
          <li><a href="#">로그아웃</a></li>
        </ul>
      </nav>
    </header>

    <aside class="side-bar">
      <div class="margin"></div>
      <ul>
        <li>
          <a href="#">매출 조회</a>
        </li>
        <li>
          <a href="#">회원 조회</a>
        </li>
        <li>
          <a href="#">상품 조회</a>
        </li>
        <li>
          <a href="#">상품 등록</a>
        </li>
        <li>
          <a href="#">회원 주문 목록</a>
        </li>
        <li>
          <a href="#">비회원 주문 목록</a>
        </li>
        <li>
          <a href="#">공지사항</a>
        </li>
        <li>
          <a href="#">Q&A</a>
        </li>
        <li>
          <a href="#">Review</a>
        </li>
      </ul>

      <div class="side-bar__icon">
        <img src="../../../static/images/spartan-helmet-white.svg" alt="실패" />
      </div>
    </aside>

    <main>
      <div class="main">
        <div class="admin_notice_add">공지사항 등록</div>

        <form class="notice_add_form" action="/notice/admin/add" method="post">
          <hr />
          <input
            name="noticeTitle"
            class="notice_title"
            type="text"
            maxlength="44"
            placeholder="제목"
          />
          <hr />
          <textarea
            class="notice_contents"
            name="noticeContent"
            rows="20"
            cols="20"
            maxlength="254"
          ></textarea>
          <hr />

          <button>등록</button>
        </form>

        <!--main div-->
      </div>
    </main>
  </body>
</html>
