<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shoppingmall.admin.mapper.AdminMapper">
    <select id="findById" resultType="com.example.shoppingmall.admin.domain.Admin" >
        select * from admin where admin_id = #{adminId}
    </select>
</mapper>
