<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shoppingmall.cart.mapper.CartMapper">

    <select id = "getCartList" resultType = "com.example.shoppingmall.cart.domain.Cart">
    select item_no, cart_item_quantity, item_size from cart where member_no = #{memberNo}
    </select>


</mapper>