<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shoppingmall.cart.mapper.CartMapper">

    <select id = "getCartList" resultType = "com.example.shoppingmall.cart.domain.Cart">
    select * from cart where member_no = #{memberNo}
    </select>

    <select id = "getItemThumbnails" resultType = "java.lang.String">
    select item_thumb FROM item_photos where item_no = #{itemNo}
    </select>

    <select id = "getItemName" resultType = "java.lang.String">
    select item_name FROM item where item_no = #{itemNo}
    </select>

    <select id ="getItemPrice" resultType= "java.lang.Integer">
    select item_price FROM item where item_no = #{itemNo}
    </select>

    <update id = "updateCartItem">
    UPDATE cart SET cart_item_quantity = #{updateQuantity} WHERE cart_no = #{cartNo}
    </update>

    <delete id = "deleteCartItem">
    DELETE FROM cart WHERE cart_no = #{cartNo}
    </delete>

    <insert id = "addCartItem" parameterType="com.example.shoppingmall.cart.domain.Cart">
    insert into cart(cart_no, member_no, item_no, cart_item_quantity, item_size)
    VALUES(#{cartNo}, #{memberNo}, #{itemNo}, #{cartItemQuantity}, #{itemSize})
    </insert>

    <delete id="deleteCartItemByItemNoAndItemSize" parameterType="com.example.shoppingmall.cart.dto.CartDeleteDTO">
        delete from cart where member_no = #{memberNo} and item_no = #{itemNo} and item_size = #{itemSize}
    </delete>

</mapper>