<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shoppingmall.item.mapper.ItemMapper">
    <select id="getAllItems" resultType="ItemDTO">
        SELECT `item`.`item_no`,
               `item`.`item_name`,
               `item`.`item_category`,
               `item`.`item_grade`,
               `item`.`item_detail`,
               `item`.`item_price`,
               `item`.`item_onsale`,
               `item`.`item_registered_time`
        FROM `perion`.`item`;
    </select>
</mapper>