<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shoppingmall.notice.mapper.NoticeMapper">

    <select id="findAllNotice" resultType="com.example.shoppingmall.notice.domain.Notice">
        select * from notice order by notice_no desc
    </select>

    <select id="findByNo" resultType="com.example.shoppingmall.notice.domain.Notice">
        select * from notice where notice_no = #{noticeNo}
    </select>

    <select id="countAllNotice" resultType="Long">
        select count(notice_no) from notice
    </select>

    <select id="countAllNoticeByKeyword" parameterType="com.example.shoppingmall.notice.form.NoticeSearchForm" resultType="Long">
        select count(notice_no) from notice where ${category} LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="findAllNoticeByKeyword" parameterType="com.example.shoppingmall.notice.form.NoticeSearchForm" resultType="com.example.shoppingmall.notice.domain.Notice">
        select * from notice where ${category} LIKE CONCAT('%', #{keyword}, '%') LIMIT #{startPage}, #{pagePerNotice}
    </select>

    <select id="findAllNoticeByPaging" parameterType="java.util.HashMap" resultType="com.example.shoppingmall.notice.domain.Notice">
        select * from notice order by notice_no desc limit #{startPage}, #{pagePerNotice}
    </select>

    <insert id="addNotice" parameterType="com.example.shoppingmall.notice.domain.Notice">
        insert into notice values (#{noticeNo}, #{adminNo}, #{noticeTitle}, DATE_ADD(NOW(), INTERVAL -9 HOUR), #{noticeContent}, 0)
    </insert>

    <update id="updateNotice" parameterType="com.example.shoppingmall.notice.domain.Notice">
        update notice
        set notice_title   = #{noticeTitle},
            notice_content = #{noticeContent}
        where notice_no = #{noticeNo}
    </update>

    <update id="updateViewCount" parameterType="com.example.shoppingmall.notice.domain.Notice">
        update notice set notice_viewcount = notice_viewcount + 1 where notice_no = #{noticeNo}
    </update>

    <delete id="deleteNoticeByNo" parameterType="com.example.shoppingmall.notice.domain.Notice">
        delete from notice where notice_no = #{noticeNo}
    </delete>

</mapper>