<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shoppingmall.qna.mapper.QnaMapper">

    <select id="findByItemNo" parameterType="Long" resultType="com.example.shoppingmall.qna.domain.Qna">
        SELECT *
        FROM qna
        WHERE item_no = #{itemNo}
        ORDER BY qna_no DESC
    </select>

    <select id="getMemberIdByNo" parameterType="Long" resultType="String">
        SELECT member_id
        FROM member
        WHERE member_no = #{memberNo}
    </select>


    <insert id="addQna" parameterType="com.example.shoppingmall.qna.domain.Qna">
        INSERT INTO qna
        VALUES (null,#{memberNo},#{itemNo},#{qnaClassification},#{qnaTitle},#{qnaQuestion},null,DATE_ADD(NOW(), INTERVAL -9 HOUR))
    </insert>

    <select id="findAllByPaging" parameterType="java.util.HashMap" resultType="com.example.shoppingmall.qna.domain.Qna">
        SELECT *
        FROM qna
        order by qna_no desc
        limit #{startPage}, #{pagePerMember}
    </select>

    <select id="countAll" resultType="Long">
        SELECT count(qna_no) FROM qna
    </select>

    <select id="findByQnaNo" parameterType="Long" resultType="com.example.shoppingmall.qna.domain.Qna">
        SELECT *
        FROM qna
        WHERE qna_no = #{qnaNo}
    </select>

    <update id="replyQna" parameterType="com.example.shoppingmall.qna.domain.Qna">
        UPDATE qna
        SET qna_answer = #{qnaAnswer}
        WHERE qna_no = #{qnaNo}
    </update>

    <update id="deleteAnswer" parameterType="Long">
        UPDATE qna
        SET qna_answer = NULL
        WHERE qna_no = #{qnaNo}
    </update>

    <select id="findQnaByPaging" resultType="com.example.shoppingmall.qna.domain.Qna">
        SELECT *
        FROM qna
        WHERE item_no = #{itemNo}
        ORDER BY qna_no DESC
        LIMIT #{startPage}, #{pagePerMember}
    </select>

    <select id="countQnaByitemNo" parameterType="Long" resultType="Long">
        SELECT count(qna_no) FROM qna WHERE item_no = #{itemNo}
    </select>

    <select id="findMQnaByPaging" resultType="com.example.shoppingmall.qna.domain.Qna">
        SELECT *
        FROM qna
        WHERE member_no = #{memberNo}
        ORDER BY qna_answer is null, qna_no DESC
        LIMIT #{startPage}, #{pagePerMember}
    </select>

    <select id="countMemberQna" parameterType="Long" resultType="Long">
        SELECT count(qna_no) FROM qna WHERE member_no = #{memberNo}
    </select>

    <update id="updateQna" parameterType="com.example.shoppingmall.qna.dto.QnaUpdateDTO">
        UPDATE qna
        SET qna_title = #{qnaTitle},
            qna_Classification = #{qnaClassification},
            qna_Question = #{qnaQuestion}
        WHERE qna_no = #{qnaNo}
    </update>
    <delete id="deleteQna" parameterType="Long">
        DELETE FROM qna
        where qna_no = #{qnaNo}
    </delete>

    <!--    답변완료 페이징 -->
    <select id="findQnaAnswered" parameterType="java.util.HashMap" resultType="com.example.shoppingmall.qna.domain.Qna">
        SELECT *
        FROM qna
        WHERE qna_answer is not null
        LIMIT #{startPage}, #{pagePerMember}
    </select>

    <select id="countQnaAnswered" resultType="Long">
        SELECT count(qna_no)
        FROM qna
        where qna_answer is not null
    </select>

    <!--    답변대기 페이징 -->
    <select id="findUnansweredQna" parameterType="java.util.HashMap" resultType="com.example.shoppingmall.qna.domain.Qna">
        SELECT *
        FROM qna
        WHERE qna_answer is null
            LIMIT #{startPage}, #{pagePerMember}
    </select>

    <select id="countUnansweredQna" resultType="Long">
        SELECT count(qna_no)
        FROM qna
        where qna_answer is null
    </select>
</mapper>
