<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shoppingmall.review.mapper.ReviewMapper">
    <insert id="addReview" parameterType="com.example.shoppingmall.review.dto.ReviewAddDTO">
        INSERT INTO review
        VALUES (null,#{memberNo},#{itemNo}, #{reviewContext},DATE_ADD(NOW(), INTERVAL -9 HOUR),#{reviewScore},#{memberOrderDetailNo})
    </insert>

    <select id="findByItemNo" parameterType="Long" resultType="com.example.shoppingmall.review.domain.Review">
        SELECT *
        FROM review
        WHERE item_no = #{itemNo} ORDER BY review_no DESC
    </select>

    <select id="getItemStockNo" parameterType="Long" resultType="Long">
        SELECT item_stock_no
        FROM member_order_detail
        WHERE member_order_no = #{memberOrderNo}
    </select>

<!--    -->

    <select id="getItemSize" parameterType="Long" resultType="String">
        SELECT  item_size
        FROM member_order_detail
        WHERE member_order_detail_no = #{memberOrderDetailNo}
    </select>

    <select id="getMemberId" parameterType="Long" resultType="String">
        SELECT member_id
        FROM  member
        where member_no = #{memberNo}
    </select>
    
    <delete id="deleteReview" parameterType="Long">
        DELETE FROM review
        where review_no = #{reviewNo}
    </delete>

<!--    마이페이지 페이징-->
    <select id="findMReviewByPaging" resultType="com.example.shoppingmall.review.domain.Review">
        SELECT *
        FROM review
        WHERE member_no = #{memberNo} ORDER BY review_no DESC
        LIMIT #{startPage}, #{pagePerReview}
    </select>

    <select id="countMemberReview" resultType="Long">
        SELECT count(review_no) FROM review WHERE member_no = #{memberNo}
    </select>

    <select id="findReviewByPaging" parameterType="java.util.HashMap" resultType="com.example.shoppingmall.review.domain.Review">
        SELECT * FROM review ORDER BY review_no DESC
            LIMIT #{startPage}, #{pagePerReview}
    </select>

    <select id="countReview" resultType="Long">
        SELECT count(review_no) FROM review
    </select>

    <select id="getItemName" parameterType="Long" resultType="String">
        SELECT item_name FROM item WHERE item_no = #{itemNo}
    </select>
</mapper>