@import "../../admins-style.css";

.main {
  height: 900px;
}
.admin_notice_modify {
  margin-top: 132px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

hr{
  width: 100%;
}

.notice_add_form {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.notice_title {
  height: 50px;
  border : none;
  padding-left: 20px;
  font-size: 24px;
  outline: none;

}

.notice_contents {
  margin-top: 30px;
  font-size: 15px;
  padding-left: 20px;
  border: none;
  outline: none;
}

button {
  background-color: black;
  color: #FFB94F;
  width:120px;
  height:36px;
  border-radius: 12px;
  font-weight: bold;
  margin: 30px auto 0;
}

.notice_elements {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.notice_no {
  order: 1;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

.notice_elements_right{
  order: 2;
}

.notice_elements_right span:nth-child(1) {
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.notice_elements_right span:nth-child(2) {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
}

.notice_btn {
  margin-right: 40px;
  text-align: right;  
}

.notice_btn button:nth-child(2){
  color: red;
}