@import "../../admins-style.css";

.main {
  height: 1000px;
  font-size: 1.2rem;
}

.admin_item_detail {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin-bottom:30px;
}


.item_detail_container {
  margin: 0 auto;
  width: 90%;
  height: 700px;
}

.top {
  margin: 3% auto 0;
  width:90%;
}

.middle {
  display: flex;
  justify-content: space-between;
  width:90%;
  margin: 0 auto;
  height: 80%;
}

.photo {
  width: 34%;
  height: 90%;
}

.contents {
  width: 61%;
  height: 100%;
  font-weight: bold;
}

.contents_info {
  width:90%;
  height:90%;
  margin: 0 auto;
}


button {
  background-color: black;
  color: #FFB94F;
  width:120px;
  height:36px;
  border-radius: 12px;
  font-weight: bold;
  margin: 30px auto 0;
}

.item_btn {
  text-align: center;  
}

.btn--drop{
  color: red;
}


.top {
  margin-top : 5%;
  padding-bottom: 1rem;
}
.top div {
  margin-bottom: 2%;
  font-weight: bold;
}

.top span {
  padding-left: 1%;
}

.top div:nth-child(2) {
  padding: 1%;
  font-size: 1.6rem;
}

.size_stock {
  margin-top: 2%;
}

.size_stock span:nth-child(2),
.size_stock span:nth-child(3) {
  padding-left: 2%;
}

.image {
  margin-top: 3%;
}

.detail_info {
  display: block;
  height: 48%;
  margin: 3% 0;
}

.thumb {
  margin-top: 4px;
  text-align: center;
  margin-bottom: 0.5rem;
}
.thumb img{
  width: 17rem;
  height: 24rem;
}

.img__123 {
  width: 17rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.img__123 img{
  width: 4.25rem;
  height: 6rem;
}

.image span {
  font-size: 16px;
}

.price {
  margin-top : 1rem;
}

textarea {
  margin-top: 0.5rem;
  overflow: hidden;
  width: 80%;
  height: 10.5rem;
}

.img__container {
  text-align: center;
}

form {
  display: inline;
}