@import "../../admins-style.css";

@import "../../components/table.css";

.main {
  height: 800px;
}
table {
  width:100%;
  margin-top:50px;
}

.admin_member {
  margin-top: 132px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

tr:nth-child(even) td:last-child {
  background-color: #ffffff;
}

.admin_member_search {
  text-align: center;
  margin-top: 30px;
}

.admin_member_page {
  text-align: center;
  margin-top: 50px;
}

a {
  color:black;
  text-decoration: none;
}

.answer {
  margin-top: 16px;
  text-align : center;
}

.answer a{
  font-weight: bold;
}

.answer a:hover {
  color: #ffb94f;
}