@import "../../admins-style.css";

@import "../../components/table.css";
.main {
  height: 900px;
}

table {
  width:100%;
  margin-top:50px;
}

.admin_item {
  margin-top: 120px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.admin_item_sale {
  margin-top:20px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.admin_item_category {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}


.admin_item_search {
  text-align: center;
  margin-top: 30px;
}

.admin_item_page {
  text-align: center;
  margin-top: 50px;
}