@import "../../admins-style.css";


.admin_item {
  margin-top: 132px;
  text-align: center;
  font-size: 32px;
}

.admin_item_add {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.admin_item_container {
  width: 60%;
  margin: 0 auto;
  border : 2px solid #42444e;
  border-radius: 16px;
  padding: 20px 20px 20px 20px;
}

.admin_item_image {
  width:30%;
}
.admin_member_search {
  text-align: center;
  margin-top: 30px;
  border-radius: 7px;
}

.admin_member_page {
  text-align: center;
  margin-top: 50px;
}

a {
  color:black;
}

.admin_item a {
  color: gray;
}

.admin_item_name_input {
  width:200px;
  height: 20px;
}

.admin_item_container div{
  margin-top: 20px;
}
.admin_item_container div:nth-child(1),
.admin_item_container div:nth-child(3),
.admin_item_container div:nth-child(4),
.admin_item_container div:nth-child(5) {
  padding-left : 20px;
}

.admin_item_thumb {
  width: 30%;
  margin-left: 20px;
}

textarea {
  width: 95%;
  height: 50px;
  margin-bottom: 30px;
  resize: none;
}

select {
  width: 16%;
}

input[type="number"] {
  width: 10%;
  margin-right: 20px;
}

button {
  background-color: black;
  color: #FFB94F;
  width:120px;
  height:36px;
  border-radius: 12px;
  font-weight: bold;
}

.btn_div {
  margin-top: 50px;
  text-align: center;
}